.about-sec-1 {
    height: 24rem;
    background-image:linear-gradient( to top,rgba(0,0,0,0.8),rgba(0,0,0,0.1)), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/aboutUs_hero.jpeg);
    background-size: cover;
    background-position: top; 
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

.about-sec-2 {
    padding: 40px 0px;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 1fr;
}
.about-sec-2-image {
    display: flex;
    justify-content: center;
}
.about-sec-2-image img{
    height: 30rem;
}

.about-sec-3{
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.about-sec-3 video{
    width: 100vw;
    position: absolute;
    background-color: linear-gradient(rgba(0,0,0,1));
    z-index: -100;
    transform:scale(1.4);
    filter: brightness(80%);
}
.about-sec-3 .container {
    position: relative;
    color: white;  
    padding: 40px 0px; 
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% auto;
    grid-gap: 0px 10px;
}
.about-sec-3-text {
    position: relative;
}
.about-sec-3-text p {
    font-weight: 100;
}
.about-sec-3-text button {
    background-color: var(--blue);
    border: none;
    color: white;
}
.about-sec-3-buttons ul {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: 150px 150px;
}
.about-sec-3-buttons ul li{
    color: white;
    border: 1px solid var(--bggray);
    margin: 0px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 0.6rem;
}
.about-sec-3-buttons ul li h3 {
    margin-bottom: 5px;
    letter-spacing: 1px;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .about-sec-3 .container {
        grid-template-columns: 1fr;
        grid-gap: 40px 0px;
    }
    .about-sec-3-buttons ul {
        grid-template-rows: 80px 80px;
    }
    .about-sec-3 video {
        transform: scale(1.4);
    }
}

@media screen and (max-width:767px){
    .about-sec-2 {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-sec-3 {
        background-color:black;
    }
    .about-sec-3 .container {
        grid-template-columns: 1fr;
        grid-gap: 40px 0px;
        text-align: center;
    }
    .about-sec-3-buttons ul {
        grid-template-columns: auto;
        grid-template-rows: repeat(6,80px) ;
    }

}