body {
    background-color: var(--bgblue);
}
.font-bold {
    font-family: "Nexa-Bold";
}
.font-light {
    font-family: "Nexa-Light";
}
section {
    display: flex;
    position: relative;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.appointment-form h4 {
    color: var(--blue);
    text-align: center;
    margin: 15px;
}
.appointment-form {
    margin: 2rem 0rem;
    width: 40rem;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.docname {
    text-align: center;
    color: var(--blue);
    margin: .5rem 0;
}
form {
    padding: 1rem;
}
.form input {
    width: 100%;
    box-sizing: border-box;
    padding: .7rem;
    margin: 10px 0px;
}

form .file-button {
    padding: 0;
    width: fit-content;
    border: none;
}

form textarea {
    margin: 10px 0px;
    max-width: 608px;
    box-sizing: border-box;
    overflow: hidden;
}
.time-interval-div {
    margin: 10px 0px;
}

form button {
    width: 100%;
    background:var(--darkblue);
    color:white;
    letter-spacing: 3px;
}

input.time-interval-class {
    width: fit-content;
    margin: 5px 0px;
}
.form-footer h6 {
    margin-right: .5rem;
}
.form-footer a{
    color: var(--blue);
    font-family: "Nexa-Bold";
}
.login-footer {
    margin: 0 0 1rem;
}

@media only screen and (max-width:767px) {
    .appointment-form {
        width: 90%;
    }
}