body {
    background-color: var(--bgblue);
}
.font-bold {
    font-family: "Nexa-Bold";
}
.font-light {
    font-family: "Nexa-Light";
}
section {
    display: flex;
    position: relative;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.appointment-form h4 {
    color: var(--blue);
    text-align: center;
    margin: 15px;
}
.appointment-form {
    margin: 2rem 0rem;
    width: 40rem;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.appointment-doc-info {
    position: relative;
    padding: 0px 20px 20px;
    display: flex;
    justify-content: space-evenly;
    
}
.appointment-doc-info .doc-data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.appointment-doc-info .doc-data label {
    display: inline-block;
    width: auto;
    font-size: 1rem;
}
.appointment-doc-info .doc-data input{
   margin: 0;
    padding: 0;
    border: none;
    width: auto;
    font-size: 1rem;
    color: var(--blue);
    font-weight: bold;
}
.appointment-doc-info h5 {
    font-size: .9rem;
}
.appointment-doc-info a {
    font-size: .9rem;
    color: var(--blue);
}
.appointment-doc-img {
    width: 8rem;
    height: 8rem;
    float: right;
    margin-bottom: 5px;
    transition: 300ms;
    margin-top: .5rem;
}
.appointment-doc-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 25px gray;
}
.appointment-doc-img:hover {
    transform: scale(1.06);
    transition: 300ms;
    box-shadow: 10px 10px 25px rgb(88, 86, 86);
}
.docname {
    text-align: center;
    color: var(--blue);
    margin-bottom: .5rem;
}
form {
    padding: 1rem;
}
.form input {
    width: 100%;
    box-sizing: border-box;
    padding: .7rem;
    margin: 10px 0px;
}

form .file-button {
    padding: 0;
    width: fit-content;
    border: none;
}

form textarea {
    margin: 10px 0px;
    max-width: 608px;
    box-sizing: border-box;
    overflow: hidden;
}
.time-interval-div {
    margin: 10px 0px;
}

form button {
    width: 100%;
    background:var(--darkblue);
    color:white;
    letter-spacing: 3px;
}

input.time-interval-class {
    width: fit-content;
    margin: 5px 0px;
}
.form-footer h6 {
    margin-right: .5rem;
}
.form-footer a{
    color: var(--blue);
    font-family: "Nexa-Bold";
}
.login-footer {
    margin: 0 0 1rem;
}

@media only screen and (max-width:767px) {
    .appointment-form {
        width: 90%;
    }
    .appointment-doc-info {
        flex-direction: column;
        align-items: center;
    }
    .appointment-doc-img {
        margin-top: 1rem;
    }
}