.section-1 {
    height: 20rem;
    background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png);
    background-position: center;
    color: white;
    background-size: cover;
}

.contact-section-2 {
    padding: 30px 0px;
    border-bottom: 1px solid var(--gray);
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px 0px;
}
.contact-section-2 iframe{
    width: 100%;
    height: 100%;
}
.contact-section-2-data {
    display: grid;
    grid-template-columns: 30% auto;
    grid-gap: 0px 15px;
}
.contact-section-2-data ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact-section-2-data i {
    color: var(--blue);
    margin-right: .7rem;
}
.contact-section-2-data li {
    display: flex;
    align-items: center;
}
.contact-section-2-data h5 {
    font-family: "Nexa-bold";
}
.contact-section-2 span {
    font-family: "Nexa-light";
}

.third-div {
    background-color: var(--bgblue);
    padding: 1.5rem;
}
.third-div form {
    display: grid;
    grid-template-columns: 50% auto;
    grid-gap: 0px 10px;
    box-sizing: border-box;
}
.third-div form input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
.third-div form input:nth-child(1),.third-div form input:nth-child(2) {
    margin-bottom: 10px;
}
.form-textarea input {
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
}
form button {
    margin-top: 10px;
    width: 10rem;
    height: 2.5rem;
    background-color: var(--blue);
    color: white;
    border: none;
    float: right;
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .contact-section-2-data {
        grid-template-columns: 1fr;
        grid-gap: 15px 0px;
    }
    .contact-section-2 ul {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (max-width:767px) {
    .contact-section-2-data {
        grid-template-columns: 1fr;
        grid-gap: 15px 0px;
    }
    .third-div form {
        grid-template-columns: 1fr;
    }
    .third-div form input {
        margin-bottom: 10px;
    }
}