.doc-section-1 {
    height: 20rem;
    background-image:linear-gradient(to left, rgba(0,0,0,0),var(--blue)), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Doctors.png);
    background-size: cover;
    background-position: top; 
    display: flex;
    align-items: center;
    color: white;
}
.doc-sec-1 h2 {
    font-family: "Nexa-Light";
    font-weight: 600;
}
.doc-sec-1 span {
    font-family: "Nexa-Bold";
    text-decoration: underline;
}

/* section 1 ends  */

/* section 2  */
.doc-section-2 {
    margin: 30px auto;
    display: grid;
    grid-template-columns: auto 75%;
    grid-template-areas: 
    "head head"
    "aside main";
    grid-gap: 10px 20px;
}
.section-2-heading {
    grid-area: head;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.section-2-heading h3 {
    font-family: "Nexa-Light";
}
.section-2-heading button {
    font-family: "Nexa-Bold";
    padding: 10px 15px;
    border: none;
    background-color: var(--gray);
    border-radius: 0px;
}
.section-2-heading span {
    margin:0px 0px 0px 0.7em;
}
.filter-by {
    grid-area: aside;
    font-weight: 600;
}
.filter-by .container {
    margin: 20px auto;
}
.filter-by i {
    margin: 0px  0px 0px 0.7em;
    color: var(--blue);
}
.filter-by i:hover {
    cursor: pointer;
}
.filter-by .fa-minus {
    color: var(--gray);
}
.filter-by h5 {
    background-color: var(--gray);
    padding: 10px 15px;
}
.filter-by .selected-filter {
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
}
.selected-filter span {
    padding: 7px;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    flex-wrap: nowrap;
    margin: 2px;
    border-radius: 20px;
    border: 1px solid var(--gray);
}
.selected-filter i {
    margin: 0px  0px 0px 0.7em;
    color: var(--blue);
}
/*  */
.filter-title {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 15px;
}
.filter-title h4 {
    padding-left:5px ;
}
.filter-title span {
    display: flex;
}
.filter-title i {
    margin: 0px  0px 0px 0.7rem;
}
.Fsec input {
    margin-bottom: 5px;
}
.Fsec label {
    font-size: 12px;
    margin: 0px 0px 10px 5px;
}
.Fsec h6 {
    margin: 10px 5px;
    color: var(--blue);
    letter-spacing: 0px;
    font-family: "Nexa-Bold";
    width: fit-content;
}
.Fsec h6:hover {
    cursor: pointer;
    color: var(--lightblue);
}
.filter-hr {
    width: 100%;
    height: 1px;
    background-color: var(--gray);
}

/* section 2  doctor cards */
.section-2-doc-div {
    border: 1px solid var(--gray);
    margin-bottom: 10px;
    display: grid;
    grid-template-columns:70% auto;
    grid-template-areas: "main image"
    "button image";
}
/* Doc card - doc-info  */
.doc-info {
    grid-area: main;
    padding: 20px 30px 0px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.doc-info div {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 45%;
    margin: 10px 10px 10px 0px;
}
.doc-name-bar {
    position: absolute;
    top: 28px;
    left: 0;
    height: 2px;
    width: 24px;
    background-color: var(--blue);
}
.doc-info i {
    margin-right: 0.7rem;
    color: var(--blue);
}
.doc-info h3 {
    width: 100%;
    color: var(--blue);
    margin-bottom: 10px;
}
/* Doc card - doc-info ends */
.doc-info-button {
    grid-area: button;
    padding: 20px 30px;
}
.doc-info-button button {
    background-color: var(--darkblue);
    color: white;
    padding: 15px 30px;
}
.section-2-doc-div .image {
    grid-area: image;
    background-position: center;
    background-size: cover;
}
.section-2-doc-div .doc0 {
    background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg);
} 
.section-2-doc-div .doc1 {
    background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg);
}
.section-2-doc-div .doc2 {
    background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg);
}
.section-2-doc-div .doc3 {
    background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg);
}
.section-2-doc-div .doc4 {
    background-image: url(https://cerebralpalsynewstoday.com/wp-content/uploads/2017/06/shutterstock_52856165-921x480@2x.jpg);
} 
.section-2-doc-div .doc5 {
    background-image: url(https://www.cdc.gov/diabetes/images/library/spotlights/Male-doctor-smiling-portrait-close-up-Med-Res-72991363.jpg);
}
.section-2-doc-div .doc6 {
    background-image: url(https://post.medicalnewstoday.com/wp-content/uploads/2019/01/Male_Doctor_732x549-thumbnail.jpg);
}
.section-2-doc-div .doc7 {
    background-image: url(https://otwartegrupy.pl/img/lekarz_bestdoctors.jpg);
}
.section-2-doc-div .doc8 {
    background-image: url(https://images.theconversation.com/files/304957/original/file-20191203-66986-im7o5.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop);
} 
.section-2-doc-div .doc9 {
    background-image: url(https://telemedizin.one/wp-content/uploads/2019/12/doctor07.jpg.pagespeed.ce.vrs67renwa.jpg);
}
.section-2-doc-div .doc10 {
    background-image: url(https://www.cdc.gov/drugoverdose/training/modules/module1/images/welcomeimage.png);
}
.section-2-doc-div .doc11 {
    background-image: url(https://www.vebdr.com/wp-content/uploads/2017/12/women-img0001.png);
}
.section-2-doc-div .doc12 {
    background-image: url(https://webcomicms.net/sites/default/files/clipart/174399/picture-doctor-174399-2506358.jpg);
}
/* section 2 ends here */

/* Tablet View */
@media only screen and (min-width:768px) and (max-width:1024px) {
.doc-section-1 {
    height: 18rem;
}

.filter-by .selected-filter {
    display: none;
}

}

@media only screen and (max-width:767px) {
    .doc-section-2 {
        grid-template-columns: 100%;
        grid-gap: 0px;
        }
    .filter-by {
        display: none;
    }
    .section-2-doc-div {
        grid-template-columns: 100%;
        grid-template-areas: "main"
        "button"
        "image";
    }
    .section-2-doc-div .image {
        height: 24rem;
    }
    .doc-info h6 {
        width: auto;
    }
    .doc-info-button {
        display: flex;
        justify-content: center;
    }
}