.faq-sec-1 {
    height: 20rem;
    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png");
    background-size: cover;
    background-position: top; 
    display: flex;
    align-items: center;
    color: white;
}

.faq-sec-2 {
    margin: 40px auto;
}
.heading-with-icon {
    margin: 10px 0px;
    width: 100%;
}
.heading-with-icon button:hover {
    background-color: var(--bggray);
}
.fa-chevron-circle-down {
    float: right;
    color: var(--bgblue);
}
.heading-with-icon button {
    position: relative;
    background-color: white;
    color:var(--blue);
    cursor: pointer;
    width:100%;
    border-top:none;
    border-bottom: 1px dashed var(--gray);
    border-left: none;
    border-right: none;
    text-align: left;
    padding: 15px 0px;
    font-size: 1rem;
    outline: none;
    border-radius: 0;
}

.fas-left {
    margin-right: 5px;
}

.doctor-other-text .content {
    margin: 0px 0px 10px;
    max-height: 0;
    width: auto;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #e4f3ffa2;
}