body {
    background-color: var(--bggray);
}
label {
    display: block;
    font-family: "Nexa-Bold";
    font-size: 1.1rem;
    margin-bottom: .4rem;
}
input {
    width: 17rem;
    box-sizing: border-box;
}
.profile-sec-1 {
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-areas:"left right";
    padding: 2rem 1rem;
    background-color: white;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0px var(--gray);
}
.left-section h3 {
    padding: 0 0 1rem;
}
.right-section h3 {
    padding: 0 1rem 1rem;
}
/* Left section  */
.left-section {
    grid-area: left;
    border-right: 2px solid var(--gray);
    padding-right: .4rem;
}
.left-section li {
    padding: .8rem .4rem;
    margin: 0;
}
.left-section i {
    color: var(--darkgray);
    margin-right: 5px;
}
.left-section li:hover {
    cursor: pointer;
    background-color: var(--bggray);
}
.active i {
    color: var(--blue);
}
.setting-header {
    display: flex;
    width: 80%;
    margin-bottom: 1rem;
}
.update-profile {
    margin: auto;
    color: var(--darkblue);
    margin-left: .5rem;
    transition: 300ms;
}
.update-profile:hover {
    background-image: linear-gradient(to left,var(--blue),var(--darkblue));
    color: white;
    transition: 300ms;
}
.active{
    cursor: pointer;
    font-weight: 900;
    background-image: linear-gradient(to right,white,var(--bgblue));
    border-left: 3px solid var(--blue);
}
/* right section */
.right-section {
    grid-area: right;
    position: relative;
}
#appointment-content,#medical-content,#setting-content {
    display: none;
}
/* right section table 1  */
.profile-pic {
    color: var(--blue);
}
#profile-pic {
    display: none;
}
.profile-pic-button {
  background-color:var(--blue);
  color: white;
  padding: 0.6rem;
  font-family: sans-serif;
  border-radius: 0.2rem;
  cursor: pointer;
  margin: 0 0 0 2rem;
}
/* Right section div 1 */
.right-section-div-1,.right-section-div-2 {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}
.right-section-div-1 {
    justify-content: start;
}

/* Appointment tab  */
.appointment-tab {
    position: relative;
    margin:1rem;
    padding: .8rem .8rem;
    width: auto;
    border: 1px solid var(--gray);
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,.3);
    transition: 300ms;
    border-radius: 5px;
}
.appointment-tab:hover {
    box-shadow: 10px 10px 20px 5px rgba(0,0,0,.4);
    transition: 300ms;
}
.appointment-tab h5 span {
    color:var(--blue);
    margin-left: .5rem;
}
.appointment-tab div {
    margin:.5rem 0 0 0;
}
.appointment-tab div button {
    margin: .5rem 1rem 0 0;
    background-color: var(--darkblue);
    color: white;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,.4);
    transition: 300ms;
    border: none;
}

/* Appointment tab interior */
.appointment-tab-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right"
    "buttons buttons";
    grid-gap: 0 20px;
}
.appointment-tab-left {
    grid-area: left;
    width: auto;
    margin-bottom:0 ;
}
.appointment-tab-left input,.appointment-tab-right input {
    border: none;
    margin: 10px 0 5px;
    padding: 0;
    outline: none;
    font-size: .8rem;
    font-family: "Nexa-Bold";
    color: var(--blue);
    letter-spacing: 1px;
}
.appointment-tab-left label,.appointment-tab-right label {
    margin: 0;
}
.appointment-tab hr {
    margin: 0 0 5px 0;
}
.appointment-tab-right{
    grid-area: right;
    width: auto;
}
#appointment-buttons {
    grid-area: buttons;
    margin: 0 0 5px;
}

/* settings section */
.fa-pen {
    margin-left: .4rem;
     color: var(--blue);
     font-size: .8rem;
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .profile-sec-1 {
        grid-template-columns: 30% auto;
    }
    .profile-pic-button {
        font-size: .8rem;
    }
        .right-section-div-2 {
       grid-template-columns: 1fr 1fr;
       justify-content: center;
   }
   input {
    width: 12rem;
   }
}
@media only screen and (max-width:767px) {
    .left-section {
        display: none;
    }
    .profile-sec-1 {
        grid-template-columns: 1fr;
        grid-template-areas: "right";
    }
    .right-section-div-1,.right-section-div-2 {
        grid-template-columns: 1fr;
    }
    input {
        width: 100%;
    }
    .appointment-tab-form {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "left"
        "right"
        "buttons";
        grid-gap: 0 20px;
    }
    #appointment-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
