body {
    background-color: var(--bgblue);
}
section {
    display: flex;
    position: relative;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signup-form {
    margin: 2rem 0rem;
    width: 23rem;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
header nav .nav-links a{
    text-decoration: none;
}
form {
    margin: .9rem 1.5rem ;
}
.signup-form hr {
    height: 1px;
    width: auto;
    background-color: var(--blue);
}
.signup-form h2 {
    padding: 1rem 0px;
    text-align: center;
    color: var(--blue);
}
.signup-form input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.signup-form input:focus{
    outline-color: var(--blue);
}
.signup-form .signup-button {
    width: 100%;
    background-color: var(--darkblue);
    color: white;
    border: none;
    height: 2.4rem;
}
.form-footer {
    display: flex;
    justify-content:center;
    margin-bottom: 1rem;
}
.form-footer h6 {
    margin-right: .5rem;
}
.form-footer a{
    color: var(--blue);
    font-family: "Nexa-Bold";
}
.login-footer {
    margin: 0 0 1rem;
}
.password-div {
    position: relative;
}
#password-eye {
    position: absolute;
    top: 15px;
    right: 20px;
    color: var(--blue);
}
.form span {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
}
#password-eye:hover{
    cursor: pointer;
}
@media only screen and (max-width:767px) {
    .signup-form {
        width: 90%;
    }
    .form span {
        display: grid;
        grid-template-columns: 1fr;
    }
}