body {
    background-color: var(--bggray);
}
label {
    display: block;
    font-family: "Nexa-Bold";
    font-size: 1.1rem;
    margin-bottom: .4rem;
}
input {
    width: 17rem;
    box-sizing: border-box;
}

.appointment-content {
    height: 80vh;
}
.appointment-main-heading {
    margin: 1rem 1rem 1rem 1.3rem;
    font-size: 1.5rem;
}
/* right section */
.right-section {
    grid-area: right;
    position: relative;
}
/* Right section div 1 */
.right-section-div-1 {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 25px;
}
.right-section-div-1 span:nth-child(1) {
   display: flex;
   align-items: center;
}

.right-section-div-2 {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 25px;
}
/* Appointment tab  */
.appointment-tab {
    position: relative;
    margin:1rem;
    padding: 1rem 5rem;
    width: auto;
    border: 1px solid var(--gray);
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,.3);
    transition: 300ms;
    border-radius: 5px;
    background-color: white;;
}
.appointment-tab:hover {
    box-shadow: 10px 10px 20px 5px rgba(0,0,0,.4);
    transition: 300ms;
}
.appointment-tab h5 span {
    color:var(--blue);
    margin-left: .5rem;
}
.appointment-tab div {
    margin:.5rem 0 0 0;
}
.appointment-tab div button {
    margin: .5rem 1rem 0 0;
    background-color: var(--darkblue);
    color: white;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,.4);
    transition: 300ms;
    border: none;
}

/* Appointment tab interior */
.appointment-tab-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right"
    "buttons buttons";
    grid-gap: 0 20px;
}
.appointment-tab-left {
    grid-area: left;
    width: auto;
    margin-bottom:0 ;
}
.appointment-tab-left input,.appointment-tab-right input {
    border: none;
    margin: 10px 0 5px;
    padding: 0;
    outline: none;
    font-size: .8rem;
    font-family: "Nexa-Bold";
    color: var(--blue);
    letter-spacing: 1px;
    width: 100%;
    box-sizing: border-box;
}
.appointment-tab-left label,.appointment-tab-right label {
    margin: 0;
}
.appointment-tab hr {
    margin: 0 0 5px 0;
}
.appointment-tab-right{
    grid-area: right;
    width: auto;
}
#appointment-buttons {
    grid-area: buttons;
    margin: 0 0 5px;
}
#appointment-buttons button {
    float: right;
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .appointment-tab {
        padding: 1rem 3rem;
    }
}
@media only screen and (max-width:767px) {
    .appointment-tab-form {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "left"
        "right"
        "buttons";
        grid-gap: 0 20px;
    }
    #appointment-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #appointment-buttons button {
        margin: .5rem 0 0 0;
    }
    .appointment-tab {
        padding: 1rem 2rem;
        text-align: center;
    }
    .appointment-tab input{
        text-align: center;
    }
    
}
