<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/aboutus.css">
    <link rel="icon" type="image/x-icon" href="../images/weblogo.png">
    <title>Tvastra | About us</title>
</head>
<body>
    
<!-- header -->
<%- include("./partials/header")  %>
<!-- header --> 

<section class="about-sec-1"><!--section 1-->
    <div class="container1">
        <h1>Living healthy matters.</h1>
        <p>Our specialists aspire to bridge the gap between your benefits and the health needs.</p>
    </div>
</section><!--section 1 ends-->

<section class="about-sec-2 container1"><!--section 2 starts-->
    <div class="about-sec-2-text">
        <h2>You have to begin to tell the story of your life as you now want it to be and discontinue the tales.</h2>
        <p>Deployment long tail monetisation strategy equity basic of team of conversation. Supply chain freemium investor long tail agile workers prototype validation influencer market share.</p>
        <p>Deployment long tail monetisation strategy equity basic of team of conversation. Supply chain freemium investor long tail agile workers prototype validation influencer market share.
        <p>Deployment long tail monetisation strategy equity basic of team of conversation. Supply chain freemium investor long tail agile workers prototype validation influencer market share.
        <div><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/signature.png" alt=""></div>
    </div>
    <div class="about-sec-2-image">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/femaleDoctor.png" alt="">
    </div>
</section><!--section 2 ends-->

<section class="about-sec-3">
    <video autoplay loop muted id="vid">
        <source src="../vedio/The New Stamford Hospital TV Commercial.mp4" type="video/mp4"/> 
    </video>
    <div class="container1">
        <div class="about-sec-3-text">
            <h2>Your wellness builds upon the medical daily.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio unde nesciunt veritatis architecto necessitatibus eos rerum alias, molestiae similique omnis dolorum facere, eligendi accusantium, suscipit doloribus? Eveniet esse consequuntur nulla!</p>
            <button>Get a Free Checkup</button>
        </div>
        <div class="about-sec-3-buttons">
            <ul>
                <li><h3>12M</h3>Happy Patients</li>
                <li><h3>5K</h3>Medical Assistants</li>
                <li><h3>9.8</h3>Alexa Score</li>
                <li><h3>3.2K</h3>Doctors Available</li>
                <li><h3>45K</h3>Cure Rate</li>
                <li><h3>75</h3>Health Points</li>
            </ul>
        </div>
    </div>
</section>
     
<section class="need-help"><!--need help section-->
        <div class="need-help-inner container1"><!--Need Help container1-->
            <div class="need-help-text">
                <h2>Join our team</h2>
                <p>We are always looking for good and talented people.</p>
            </div>
            <div class="need-help-button">
               <button>Submit your CV</button>
            </div>
        </div>
</section><!-- Need Help Section ends here -->

<!-- footer  -->
<%- include("./partials/footer")  %>
<!-- footer -->
</body>
<script src="https://kit.fontawesome.com/43ab3e4e97.js" crossorigin="anonymous"></script>
<script src="../Dom/script.js"></script>
<script>
    document.getElementById('vid').play();
</script>
</html>