<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/aboutus.css">
    <title>Apollo Hospital</title>
</head>
<body>
    
    <header><!-- Header Nav starts here -->
        <nav class="container">
            <div class="nav-img">
                <a href="index.html"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="Logo_Tvastra"></a>
            </div>
            <div class="nav-links"><!--Content for pc and laptop-->
                <a href="doctors.html">Doctors</a>
                <a href="hospitals.html">Hospitals</a>
                <a href="treatment.html">Treatment</a>
                <a href="tvastraplus.html">Other Services</a>
                <a href="aboutus.html">About</a>
            </div>
            <div class="nav-button">
                <% if(user == 'hello') { %>
                    <a href="./signin.html"><button class="nav-login-button">Login / Sign Up</button></a>
                <% } %>
                <% if(user.name) { %>
                    <!-- User dropdown -->
                    <div class="user-dropdown">
                        <button onclick="userdropdown()" class="user-dropbtn user-button"><%= user.name %><i onclick="userdropdown()" id="user-dropdown-icon" class="fas fa-chevron-down fa-sm"></i></button>
                            <div id="user-dropdown" class="user-dropdown-content">
                                <div class="dropdown-user-div">
                                    <i class="far fa-user"></i>
                                    <div>
                                        <h6 class="user-name"><%= user.name %></h6> 
                                        <h6 class="user-number"><%= user.mobile %></h6>
                                    </div>
                                </div>
                                <a href="#">Profile</a>
                                <a href="#">Appointments</a>
                                <a href="#">Settings</a>
                            </div>                    
                    </div>
                 <a href="./logout"><button class="logout-button">LogOut</button></a>
                <% } %>  
            </div>  <!--Content for pc and laptop-->
            <div class="dropdown"><!-- Content for tablet and Mobile View Only -->
               <i onclick="myFunction()" class="dropbtn fas fa-bars fa-lg"></i>
               <div id="myDropdown" class="dropdown-content">
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">Hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
                <% if(user == 'hello') { %>
                    <a href="./signin.html"><button class="nav-login-button">Login / Sign Up</button></a>
                <% } %>
                <% if(user.name) { %>
                    <a href="#">Profile</a>
                    <a href="#">Appointments</a>
                    <a href="#">Settings</a>
                    <a href="./logout">LogOut</a>
                <% } %> 
               </div>
            </div> <!-- Content for tablet view Only till here -->
        </nav>
    </header> <!-- Header Nav ends Here --> 

<section class="about-sec-1"><!--section 1-->
    <div class="container">
        <h1>Living healthy matters.</h1>
        <p>Our specialists aspire to bridge the gap between your benefits and the health needs.</p>
    </div>
</section><!--section 1 ends-->

<section class="about-sec-2 container"><!--section 2 starts-->
    <div class="about-sec-2-text">
        <h2>You have to begin to tell the story of your life as you now want it to be and discontinue the tales.</h2>
        <p>Deployment long tail monetisation strategy equity basic of team of conversation. Supply chain freemium investor long tail agile workers prototype validation influencer market share.</p>
        <p>Deployment long tail monetisation strategy equity basic of team of conversation. Supply chain freemium investor long tail agile workers prototype validation influencer market share.
        <p>Deployment long tail monetisation strategy equity basic of team of conversation. Supply chain freemium investor long tail agile workers prototype validation influencer market share.
        <div><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/signature.png" alt=""></div>
    </div>
    <div class="about-sec-2-image">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/femaleDoctor.png" alt="">
    </div>
</section><!--section 2 ends-->

<section class="about-sec-3">
    <video autoplay loop muted id="vid">
        <source src="../vedio/The New Stamford Hospital TV Commercial.mp4" type="video/mp4"/> 
    </video>
    <div class="container">
        <div class="about-sec-3-text">
            <h2>Your wellness builds upon the medical daily.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio unde nesciunt veritatis architecto necessitatibus eos rerum alias, molestiae similique omnis dolorum facere, eligendi accusantium, suscipit doloribus? Eveniet esse consequuntur nulla!</p>
            <button>Get a Free Checkup</button>
        </div>
        <div class="about-sec-3-buttons">
            <ul>
                <li><h3>12M</h3>Happy Patients</li>
                <li><h3>5K</h3>Medical Assistants</li>
                <li><h3>9.8</h3>Alexa Score</li>
                <li><h3>3.2K</h3>Doctors Available</li>
                <li><h3>45K</h3>Cure Rate</li>
                <li><h3>75</h3>Health Points</li>
            </ul>
        </div>
    </div>
</section>
     
<section class="need-help"><!--need help section-->
        <div class="need-help-inner container"><!--Need Help Container-->
            <div class="need-help-text">
                <h2>Join our team</h2>
                <p>We are always looking for good and talented people.</p>
            </div>
            <div class="need-help-button">
               <button>Submit your CV</button>
            </div>
        </div>
</section><!-- Need Help Section ends here -->

<footer class="footer"> <!--Footer-->
        <div class="container">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="Footer.png">
                <div class="footer-links">
                    <a href="./doctors.html">Doctors</a>
                    <a href="./hospitals.html">Hospitals</a>
                    <a href="./treatment.html">Treatment</a>
                    <a href="./tvastraplus.html">Other Services</a>
                    <a href="./aboutus.html">About</a>
                    <a href="./FAQs.html">FAQs</a>
                 </div>
                 <div class="socialmedia-icons">
                    <i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i><i class="fab fa-pinterest"></i><i class="fab fa-google-plus"></i><i class="fab fa-instagram"></i>
                 </div>
                 <p>All Rights Reserved. &#169; tvastra 2021</p>
        </div>
</footer> <!--footer ends-->
<hr class="footer-footer">
</body>
<script src="https://kit.fontawesome.com/43ab3e4e97.js" crossorigin="anonymous"></script>
<script src="../Dom/script.js"></script>
<script>
    document.getElementById('vid').play();
</script>
</html>