<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/bookappointment.css">
    <link rel="icon" type="image/x-icon" href="../images/weblogo.png">
    <title>Tvastra | Book an Appointment</title>
</head>
<body>
    
<!-- header -->
<%- include("./partials/header")  %>
<!-- header --> 

<section>
    <div class="appointment-form">
        <h4>Book an Appointment</h4>
        <hr>
        <form method="POST" action="" class="form">
            <label class="font-bold" for="appointment-date">Select Appointment Date*</label>
            <input type="date" id="appointment-date">
            <div class="time-interval-div">
                <label class="font-bold" for="Time-Interval">Time Interval*</label><br>
                <input type="radio" name="Time-Interval" class="time-interval-class" id="morning" value="Morning">
                <label for="morning">Morning</label><br>
                <input type="radio" name="Time-Interval" class="time-interval-class" id="afternoon" value="Afternoon">
                <label for="afternoon">Afternoon</label><br>
                <input type="radio" name="Time-Interval" class="time-interval-class" id="evening" value="Evening">
                <label for="evening">Evening</label><br>
            </div>
            <div class="time-interval-div">
                <label class="font-bold" for="routine">Appointment Status / Urgency*</label><br>
                <input type="radio" name="Appointment Status" class="time-interval-class" id="routine" value="routine Check-Up">
                <label for="routine">Routine Check-Up</label><br>
                <input type="radio" name="Appointment Status" class="time-interval-class" id="non-urgent-checkup" value="Non Urgent Check-up">
                <label for="non-urgent-checkup">Non Urgent Check-Up</label><br>
                <input type="radio" name="Appointment Status" class="time-interval-class" id="urgent-checkup" value="Urgent Check Up">
                <label for="urgent-checkup">Urgent Check-Up</label><br>
                <input type="radio" name="Appointment Status" class="time-interval-class" id="surgical-appointment" value="Surgical Appointment">
                <label for="surgical-appointment">Surgical Appointment</label><br>
            </div>
            <h3>Upload Previous Health Record</h3>
            <input type="file" class="file-button" id="file-button">
            <h3>Appointment Details</h3>
            <div class="">

            </div>
            <textarea name="" id="" cols="30" rows="5"></textarea>
            <button>BOOK APPOINTMENT</button>
        </form>
    </div>
    <p class="login-footer">All Rights Reserved. &#169; tvastra 2021</p>
 </section>
</body>
<script src="https://kit.fontawesome.com/43ab3e4e97.js" crossorigin="anonymous"></script>
<script src="../Dom/script.js"></script>
</html>