<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/contactus.css">
    <title>Contact Us</title>
</head>
<body>

<header><!-- Header Nav starts here -->
        <nav class="container">
            <div class="nav-img">
                <a href="./index.html"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="Logo_Tvastra"></a>
            </div>
            <div class="nav-links"><!--Content for pc and laptop-->
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
            </div>
            <div class="nav-button">
                <a href="./signin.html"><button class="nav-login-button">Login / Sign Up</button></a>
                <button class="nav-quote-button">Get a Quote</button>
            </div>  <!--Content for pc and laptop-->

            <div class="dropdown"><!-- Content for tablet and Mobile View Only -->
               <i onclick="myFunction()" class="dropbtn fas fa-bars fa-lg"></i>
               <div id="myDropdown" class="dropdown-content">
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
                   <a href="#">SignIn / SignUp</a>
               </div>
            </div> <!-- Content for tablet view Only till here -->
        </nav>
</header> <!-- Header Nav ends Here -->

<section class="section-1"><!-- Section 1 Starts Here !!  -->
        <div class="container">
            <h2>Contact Us</h2>
            <p>Home / Contact Us</p>   
     </div>
</section><!--Section 1 ends here-->

<section class="contact-section-2 container"><!-- section 3 (main Info section) -->
    <div class="map">
        <iframe  id="gmap_canvas" src="https://maps.google.com/maps?q=Noida%20sector%2045&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
    <div class="contact-section-2-data">
        <ul>
            <li><i class="fas fa-home fa-lg"></i><h5>Noida, India <br><span>Sector 45</span></h5></li>
            <li><i class="fas fa-phone-alt fa-lg"></i><h5> 00 (440) 9865562<br><span>Mon to Fri 9am to 6pm</span></h5></li>
            <li><i class="fas fa-envelope fa-lg"></i><h5>support@tvastra.combr <br> <span>Send us your query anytime</span></h5></li>
        </ul>
        <div class="third-div">
            <form action="" class="contact-form">
                <div class="form-input">
                    <input type="text" class="name" name="name" placeholder="Enter Your Name Please" required>
                    <input type="email" class="email" name="email" placeholder="Enter Your Email Please" required>
                    <input type="text" class="subject" name="subject" placeholder="Enter Subject" required>
                </div>
                <div class="form-textarea">
                    <input type="text" class="message" name="message" placeholder="Enter Message" required>
                </div> 
                <button type="submit">Send Message</button>   
            </form>
        </div>
    </div>
 </section><!-- section 2 ends here -->

<footer class="footer"> <!--Footer-->
    <div class="container">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="Footer.png">
            <div class="footer-links">
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
                <a href="#">FAQs</a>
             </div>
             <div class="socialmedia-icons">
                <i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i><i class="fab fa-pinterest"></i><i class="fab fa-google-plus"></i><i class="fab fa-instagram"></i>
             </div>
             <p>All Rights Reserved. &#169; tvastra 2021</p>
    </div>
</footer> <!--footer ends-->
<hr class="footer-footer">
</body>
<script src="https://kit.fontawesome.com/43ab3e4e97.js" crossorigin="anonymous"></script>
<script src="../Dom/script.js"></script>
</html>