<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/contactus.css">
    <link rel="icon" type="image/x-icon" href="../images/weblogo.png">
    <title>Tvastra | Contact Us</title>
</head>
<body>

<!-- header -->
<%- include("./partials/header")  %>
<!-- header -->

<section class="section-1"><!-- Section 1 Starts Here !!  -->
        <div class="container1">
            <h2>Contact Us</h2>
            <p>Home / Contact Us</p>   
     </div>
</section><!--Section 1 ends here-->

<section class="contact-section-2 container1"><!-- section 3 (main Info section) -->
    <div class="map">
        <iframe  id="gmap_canvas" src="https://maps.google.com/maps?q=Noida%20sector%2045&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
    <div class="contact-section-2-data">
        <ul>
            <li><i class="fas fa-home fa-lg"></i><h5>Noida, India <br><span>Sector 45</span></h5></li>
            <li><i class="fas fa-phone-alt fa-lg"></i><h5> 00 (440) 9865562<br><span>Mon to Fri 9am to 6pm</span></h5></li>
            <li><i class="fas fa-envelope fa-lg"></i><h5>support@tvastra.com<br> <span>Send us your query anytime</span></h5></li>
        </ul>
        <div class="third-div">
            <form action="" class="contact-form">
                <div class="form-input">
                    <input type="text" class="name" name="name" placeholder="Enter Your Name Please" required>
                    <input type="email" class="email" name="email" placeholder="Enter Your Email Please" required>
                    <input type="text" class="subject" name="subject" placeholder="Enter Subject" required>
                </div>
                <div class="form-textarea">
                    <input type="text" class="message" name="message" placeholder="Enter Message" required>
                </div> 
                <button type="submit">Send Message</button>   
            </form>
        </div>
    </div>
 </section><!-- section 2 ends here -->

<!-- footer  -->
<%- include("./partials/footer")  %>
<!-- footer -->
</body>
<script src="https://kit.fontawesome.com/43ab3e4e97.js" crossorigin="anonymous"></script>
<script src="../Dom/script.js"></script>
</html>