<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/Doctordetails.css">
    <link rel="icon" type="image/x-icon" href="../images/weblogo.png">
    <title>Tvastra | Doctor Info</title>
</head>
<body>

<!-- header -->
<%- include("./partials/header")  %>
<!-- header -->  

<!-- creating path  -->
<% let path = './partials/Alldoctors/'; %>
<% path = path.concat(doctorname) %>

<!-- including main data -->
<%- include(path) %>

<section class="need-help"><!-- Need Help Section starts here -->
    <div class="need-help-inner container"><!--Need Help Container-->
        <div class="need-help-text">
            <h2>Need Help?</h2>
            <p>Just let us know. We will be happy to assist you!</p>
        </div>
        <div class="need-help-button">
            <a href="./submitquery.html"><button>Submit your query</button></a>
        </div>
    </div>
</section><!-- Need Help Section ends here -->

<!-- footer  -->
<%- include("./partials/footer")  %>
<!-- footer -->

</body>
<script src="https://kit.fontawesome.com/43ab3e4e97.js" crossorigin="anonymous"></script>
<script src="../Dom/script.js"></script>
</html>