<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/faq.css">
    <link rel="icon" type="image/x-icon" href="../images/weblogo.png">
    <title>Tvastra | Dr. John Nission</title>
</head>
<body>

<!-- header -->
<%- include("./partials/header")  %>
<!-- header -->

<section class="faq-sec-1"> <!--Section 1 starts -->
    <div class="container">
        <h1>FAQ</h1>
        <p>Home / FAQ</p>  
     </div>
</section><!--section 1 ends-->

<section class="faq-sec-2 container"><!--section 2 starts here-->
    <div class="doctor-other-text">
        <div class="heading-with-icon">
            <button class="dropdown-1">How does free in-clinic consultation with doctors and hospitals work?<span><i class="fas fa-chevron-circle-down"></i></span></button>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam inventore quam aut voluptates natus? Quidem repellendus natus minus itaque quasi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
        </div>
        <div class="heading-with-icon">
            <button class="dropdown-1">Are there are any type of doctors not included in Tvastra Plus in-clinic consultation network?<span><i class="fas fa-chevron-circle-down"></i></span></button>
            <p class="content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe autem modi ducimus ad rerum dolores placeat totam sapiente deserunt quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
        </div>
        <div class="heading-with-icon">
            <button class="dropdown-1">How do the unlimited online consultation work?<span><i class="fas fa-chevron-circle-down"></i></span></button>
            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque quasi neque iure in officia animi consequuntur vitae assumenda aut odio! Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
        </div>
        <div class="heading-with-icon">
            <button class="dropdown-1">How does flat 20% off on medicines work?<span><i class="fas fa-chevron-circle-down"></i></span></button>
            <p class="content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta ducimus beatae odio earum, minima itaque ut iusto repellat accusantium ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
        </div>
        <div class="heading-with-icon">
            <button class="dropdown-1">How does 20% off on lab tests work?<span><i class="fas fa-chevron-circle-down"></i></span></button>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, praesentium vitae? Eaque magni quasi dignissimos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
        </div>
    </div>
</section><!-- Need Help Section ends here -->

<section class="need-help">
    <div class="need-help-inner container"><!--Need Help Container-->
        <div class="need-help-text">
            <h2>Need Help?</h2>
            <p>Just let us know. We will be happy to assist you!</p>
        </div>
        <div class="need-help-button">
            <a href="./submitquery.html"><button>Submit your query</button></a>
        </div>
    </div>
</section><!-- Need Help Section ends here -->

<!-- footer  -->
<%- include("./partials/footer")  %>
<!-- footer -->

</body>
<script src="https://kit.fontawesome.com/43ab3e4e97.js" crossorigin="anonymous"></script>
<script src="../Dom/script.js"></script>
</html>