<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/faq.css">
    <title>Dr. John Nission</title>
</head>
<body>

<header><!-- Header Nav starts here -->
        <nav class="container">
            <div class="nav-img">
                <a href="./index.html"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="Logo_Tvastra"></a>
            </div>
            <div class="nav-links"><!--Content for pc and laptop-->
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
            </div>
            <div class="nav-button">
                <a href="./signin.html"><button class="nav-login-button">Login / Sign Up</button></a>
                <button class="nav-quote-button">Get a Quote</button>
            </div>  <!--Content for pc and laptop-->

            <div class="dropdown"><!-- Content for tablet and Mobile View Only -->
               <i onclick="myFunction()" class="dropbtn fas fa-bars fa-lg"></i>
               <div id="myDropdown" class="dropdown-content">
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
                   <a href=".signin.html">SignIn / SignUp</a>
               </div>
            </div> <!-- Content for tablet view Only till here -->
        </nav>
</header> <!-- Header Nav ends Here -->

<section class="faq-sec-1"> <!--Section 1 starts -->
    <div class="container">
        <h1>FAQ</h1>
        <p>Home / FAQ</p>  
     </div>
</section><!--section 1 ends-->

<section class="faq-sec-2 container"><!--section 2 starts here-->
    <div class="doctor-other-text">
        <div class="heading-with-icon">
            <button class="dropdown-1">How does free in-clinic consultation with doctors and hospitals work?<span><i class="fas fa-chevron-circle-down"></i></span></button>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam inventore quam aut voluptates natus? Quidem repellendus natus minus itaque quasi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
        </div>
        <div class="heading-with-icon">
            <button class="dropdown-1">Are there are any type of doctors not included in Tvastra Plus in-clinic consultation network?<span><i class="fas fa-chevron-circle-down"></i></span></button>
            <p class="content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe autem modi ducimus ad rerum dolores placeat totam sapiente deserunt quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
        </div>
        <div class="heading-with-icon">
            <button class="dropdown-1">How do the unlimited online consultation work?<span><i class="fas fa-chevron-circle-down"></i></span></button>
            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque quasi neque iure in officia animi consequuntur vitae assumenda aut odio! Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
        </div>
        <div class="heading-with-icon">
            <button class="dropdown-1">How does flat 20% off on medicines work?<span><i class="fas fa-chevron-circle-down"></i></span></button>
            <p class="content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta ducimus beatae odio earum, minima itaque ut iusto repellat accusantium ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
        </div>
        <div class="heading-with-icon">
            <button class="dropdown-1">How does 20% off on lab tests work?<span><i class="fas fa-chevron-circle-down"></i></span></button>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, praesentium vitae? Eaque magni quasi dignissimos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
        </div>
    </div>
</section><!-- Need Help Section ends here -->

<section class="need-help">
    <div class="need-help-inner container"><!--Need Help Container-->
        <div class="need-help-text">
            <h2>Need Help?</h2>
            <p>Just let us know. We will be happy to assist you!</p>
        </div>
        <div class="need-help-button">
            <a href="./submitquery.html"><button>Submit your query</button></a>
        </div>
    </div>
</section><!-- Need Help Section ends here -->

<footer class="footer"> <!--Footer-->
    <div class="container">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="Footer.png">
            <div class="footer-links">
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
                <a href="./FAQs.html">FAQs</a>
             </div>
             <div class="socialmedia-icons">
                <i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i><i class="fab fa-pinterest"></i><i class="fab fa-google-plus"></i><i class="fab fa-instagram"></i>
             </div>
             <p>All Rights Reserved. &#169; tvastra 2021</p>
    </div>
</footer> <!--footer ends-->
<hr class="footer-footer">

</body>
<script src="https://kit.fontawesome.com/43ab3e4e97.js" crossorigin="anonymous"></script>
<script src="../Dom/script.js"></script>
</html>