<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/hospitals.css">
    <title>Hospitals Page</title>
</head>
<body>

<!-- header -->
<%- include("./partials/header")  %>
<!-- header -->
    
<section class="hos-section-1"> <!--Section 1 starts here-->
    <div class="container hos-sec-1">
        <h2>Hospitals in <span>Delhi</span></h2>
        </div>
    </div>
</section><!-- Section 1 Ends -->

<section class="hos-section-2 container"><!-- Section 2 Starts here (About hostors) -->
    <div class="section-2-heading">
        <h4>Home / Hospital List</h4>
        <button>Sort By<span><i class="fas fa-angle-down"></i></span></button>
    </div>

    <div class="filter-by"><!-- hostor Filter  -->
        <h5>Filter By</h3>
        
            <div class="Fsec filter-by-location container">
                <div class="filter-title">
                    <h4>Location</h4><span><i id="hosLocSearchButton" class="fa fa-search fa-xs"></i><i id="hosLocFilterRemover" class="fa fa-minus fa-xs"></i></span>
                </div>
                <form id="Location">
                <input type="checkbox" id="dlf-cyber-city" value="DLF Cyber City">
                <label for="dlf-cyber-city">DLF Cyber City</label><br>
                <input type="checkbox" id="dwarka" value="Dwarka">
                <label for="dwarka">Dwarka</label><br>
                <input type="checkbox" id="LajpatNagar" value="Lajpat Nagar">
                <label for="LajpatNagar">Lajpat Nagar</label><br>
                <input type="checkbox" id="palamvihar" value="Palam Vihar">
                <label for="palamvihar">Palam Vihar</label><br>
                <input type="checkbox" id="punjabi-baag" value="Punjabi Baag">
                <label for="punjabi-baag">Punjabi Baag</label>
                </form>
                <h6>+ Show more</h6>
            </div>
        <hr class="filter-hr">

        <div class="Fsec filter-by-treatment container">
            <div class="filter-title">
                <h4>Treatment</h4><span><i id="hosTrtSearchButton" class="fa fa-search fa-xs"></i><i id="hosTrtFilterRemover" class="fa fa-minus fa-xs"></i></span>
            </div>
            <form id="Treatment">
            <input type="checkbox" id="multi-orhan-transplant" value="Multi Organ Transplant">
            <label for="multi-orhan-transplant">Multi Organ Transplant</label><br>
            <input type="checkbox" id="orthopedics-surgery" value="Orthopedics Surgery">
            <label for="orthopedics-surgery">Orthopedics Surgery</label><br>
            <input type="checkbox" id="infertility-treatment" value="Infertility Treatment">
            <label for="infertility-treatment">Infertility Treatment</label><br>
            <input type="checkbox" id="dentistry" value="Dentistry">
            <label for="dentistry"> Dentistry</label><br>
            <input type="checkbox" id="cardiology" value="Cardiology">
            <label for="cardiology">Cardiology</label><br>
            <input type="checkbox" id="cancer" value="Cancer">
            <label for="cancer">Cancer</label>
            </form>
            <h6>+ Show more</h6>
        </div>
        <hr class="filter-hr">

        <div class="Fsec filter-by-hospital container">
            <div class="filter-title">
                <h4>Department</h4><span><i id="hosDepSearchButton" class="fa fa-search fa-xs"></i><i id="hosDepFilterRemover" class="fa fa-minus fa-xs"></i></span>
            </div>
            <form id="Department">
            <input type="checkbox" id="department-one" value="Department One">
            <label for="department-one">Department One</label><br>
            <input type="checkbox" id="department-two" value="Department Two">
            <label for="department-two">Department Two</label><br>
            <input type="checkbox" id="department-three" value="Department Three">
            <label for="department-three">Department Three</label><br>
            <input type="checkbox" id="department-four" value="Department Four">
            <label for="department-four">Department Four</label><br>
            </form>
            <h6>+ Show more</h6>
        </div>
        <hr class="filter-hr">
    </div><!-- filter by column ends here -->
    
    <div id="hos-list-sec" class="section-2-hos-info"><!-- hostor Information -->
            <!-- hospital 1 -->
            <div class="section-2-hos-div">
                <div class="hos-info">
                    <hr class="hos-name-bar">
                    <h3>Apollo Hospital</h3>
                    <h6><i class='fas fa-map-marker-alt'></i>DLF Cyber City</h6>
                    <h6><i class='fas fa-bed'></i>133 Beds</h6>
                    <div class="hos-info-inner">
                        <h6><i class="fas fa-stethoscope"></i>Famous Treatments</h6>
                        <div>
                        <span>Multi Organ Transplant</span>
                        <span>orthopedics Surgery</span>
                        <span>infertility Treatment</span>
                        <span>Dentistry</span>
                        <span class="bg-lightgray">+10 more</span>
                        </div>
                    </div>
                </div>
                <div class="hos-info-button"><a href="tel:123-456-7890"><button>Call Now</button></a></div>
                <div class="hos0 image"></div>
            </div>
            <!-- Hospital 2 -->
            <div class="section-2-hos-div">
                <div class="hos-info">
                    <hr class="hos-name-bar">
                    <h3>Fortis</h3>
                    <h6><i class='fas fa-map-marker-alt'></i>Lajpat Nagar</h6>
                    <h6><i class='fas fa-bed'></i>145 Beds</h6>
                    <div class="hos-info-inner">
                        <h6><i class="fas fa-stethoscope"></i>Famous Treatments</h6>
                        <div>
                        <span>Multi Organ Transplant</span>
                        <span>orthopedics Surgery</span>
                        <span>infertility Treatment</span>
                        <span>Cancer</span>
                        <span class="bg-lightgray">+20 more</span>
                        </div>
                    </div>
                </div>
                <div class="hos-info-button"><a href="tel:123-456-7890"><button>Call Now</button></a></div>
                <div class="hos1 image"></div>
            </div>
            <!-- Hospital 3 -->
            <div class="section-2-hos-div">
                <div class="hos-info">
                    <hr class="hos-name-bar">
                    <h3>Rockland Hospital</h3>
                    <h6><i class='fas fa-map-marker-alt'></i>Palam Vihar</h6>
                    <h6><i class='fas fa-bed'></i>130 Beds</h6>
                    <div class="hos-info-inner">
                        <h6><i class="fas fa-stethoscope"></i>Famous Treatments</h6>
                        <div>
                        <span>Multi Organ Transplant</span>
                        <span>orthopedics Surgery</span>
                        <span>Cardiology</span>
                        <span>Cancer</span>
                        <span class="bg-lightgray">+30 more</span>
                        </div>
                    </div>
                </div>
                <div class="hos-info-button"><a href="tel:123-456-7890"><button>Call Now</button></a></div>
                <div class="hos2 image"></div>
            </div>
            <!-- Hospital 4 -->
            <div class="section-2-hos-div">
                <div class="hos-info">
                    <hr class="hos-name-bar">
                    <h3>Primus Super Speciality Hospital</h3>
                    <h6><i class='fas fa-map-marker-alt'></i>Dwarka</h6>
                    <h6><i class='fas fa-bed'></i>100 Beds</h6>
                    <div class="hos-info-inner">
                        <h6><i class="fas fa-stethoscope"></i>Famous Treatments</h6>
                        <div>
                        <span>Multi Organ Transplant</span>
                        <span>Dentistry</span>
                        <span>Cardiology</span>
                        <span>Cancer</span>
                        <span class="bg-lightgray">+20 more</span>
                        </div>
                    </div>
                </div>
                <div class="hos-info-button"><a href="tel:123-456-7890"><button>Call Now</button></a></div>
                <div class="hos3 image"></div>
            </div>
            <!-- Hospital 5 -->
            <div class="section-2-hos-div">
                <div class="hos-info">
                    <hr class="hos-name-bar">
                    <h3>Manipal North Side Hospital</h3>
                    <h6><i class='fas fa-map-marker-alt'></i>Punjabi Baag</h6>
                    <h6><i class='fas fa-bed'></i>123 Beds</h6>
                    <div class="hos-info-inner">
                        <h6><i class="fas fa-stethoscope"></i>Famous Treatments</h6>
                        <div>
                        <span>infertility Treatment</span>
                        <span>Dentistry</span>
                        <span>Cardiology</span>
                        <span>Cancer</span>
                        <span class="bg-lightgray">+30 more</span>
                        </div>
                    </div>
                </div>
                <div class="hos-info-button"><a href="tel:123-456-7890"><button>Call Now</button></a></div>
                <div class="hos4 image"></div>
            </div>
            <!-- Hospital 6 -->
            <div class="section-2-hos-div">
                <div class="hos-info">
                    <hr class="hos-name-bar">
                    <h3>Northstar</h3>
                    <h6><i class='fas fa-map-marker-alt'></i>DLF Cyber City</h6>
                    <h6><i class='fas fa-bed'></i>150 Beds</h6>
                    <div class="hos-info-inner">
                        <h6><i class="fas fa-stethoscope"></i>Famous Treatments</h6>
                        <div>
                        <span>orthopedics Surgery</span>
                        <span>infertility Treatment</span>
                        <span>Cardiology</span>
                        <span>Cancer</span>
                        <span class="bg-lightgray">+40 more</span>
                        </div>
                    </div>
                </div>
                <div class="hos-info-button"><a href="tel:123-456-7890"><button>Call Now</button></a></div>
                <div class="hos5 image"></div>
            </div>
            <!-- Hospital 7 -->
            <div class="section-2-hos-div">
                <div class="hos-info">
                    <hr class="hos-name-bar">
                    <h3>AIIMS</h3>
                    <h6><i class='fas fa-map-marker-alt'></i>New Delhi</h6>
                    <h6><i class='fas fa-bed'></i>156 Beds</h6>
                    <div class="hos-info-inner">
                        <h6><i class="fas fa-stethoscope"></i>Famous Treatments</h6>
                        <div>
                        <span>Multi Organ Transplant</span>
                        <span>infertility Treatment</span>
                        <span>Cardiology</span>
                        <span>Cancer</span>
                        <span class="bg-lightgray">+30 more</span>
                        </div>
                    </div>
                </div>
                <div class="hos-info-button"><a href="tel:123-456-7890"><button>Call Now</button></a></div>
                <div class="hos6 image"></div>
            </div>
            <!-- Hospital 8 -->
            <div class="section-2-hos-div">
                <div class="hos-info">
                    <hr class="hos-name-bar">
                    <h3>Elbit Daignostics</h3>
                    <h6><i class='fas fa-map-marker-alt'></i>Dwarka</h6>
                    <h6><i class='fas fa-bed'></i>112 Beds</h6>
                    <div class="hos-info-inner">
                        <h6><i class="fas fa-stethoscope"></i>Famous Treatments</h6>
                        <div>
                        <span>Multi Organ Transplant</span>
                        <span>orthopedics Surgery</span>
                        <span>Dentistry</span>
                        <span>Cancer</span>
                        <span class="bg-lightgray">+10 more</span>
                        </div>
                    </div>
                </div>
                <div class="hos-info-button"><a href="tel:123-456-7890"><button>Call Now</button></a></div>
                <div class="hos7 image"></div>
            </div>
            <!-- Hospital 9 -->
            <div class="section-2-hos-div">
                <div class="hos-info">
                    <hr class="hos-name-bar">
                    <h3>Akash hospital</h3>
                    <h6><i class='fas fa-map-marker-alt'></i>Palam Vihar</h6>
                    <h6><i class='fas fa-bed'></i>133 Beds</h6>
                    <div class="hos-info-inner">
                        <h6><i class="fas fa-stethoscope"></i>Famous Treatments</h6>
                        <div>
                        <span>orthopedics Surgery</span>
                        <span>infertility Treatment</span>
                        <span>Dentistry</span>
                        <span>Cardiology</span>
                        <span class="bg-lightgray">+20 more</span>
                        </div>
                    </div>
                </div>
                <div class="hos-info-button"><a href="tel:123-456-7890"><button>Call Now</button></a></div>
                <div class="hos8 image"></div>
            </div>
            <!-- Hospital 10 -->
            <div class="section-2-hos-div">
                <div class="hos-info">
                    <hr class="hos-name-bar">
                    <h3>BLK Super Speciality Hospital</h3>
                    <h6><i class='fas fa-map-marker-alt'></i>Punjabi Baag</h6>
                    <h6><i class='fas fa-bed'></i>103 Beds</h6>
                    <div class="hos-info-inner">
                        <h6><i class="fas fa-stethoscope"></i>Famous Treatments</h6>
                        <div>
                        <span>Multi Organ Transplant</span>
                        <span>orthopedics Surgery</span>
                        <span>Cardiology</span>
                        <span>Cancer</span>
                        <span class="bg-lightgray">+10 more</span>
                        </div>
                    </div>
                </div>
                <div class="hos-info-button"><a href="tel:123-456-7890"><button>Call Now</button></a></div>
                <div class="hos9 image"></div>
            </div>
    </div>
</section><!-- Section 2 ends here -->

<section class="need-help">
    <div class="need-help-inner container"><!--Need Help Container-->
        <div class="need-help-text">
            <h2>Need Help?</h2>
            <p>Just let us know. We will be happy to assist you!</p>
        </div>
        <div class="need-help-button">
           <a href="./submitquery.html"><button>Submit your query</button></a>
        </div>
    </div>
</section><!-- Need Help Section ends here -->

<!-- footer  -->
<%- include("./partials/footer")  %>
<!-- footer -->

</body>
<script src="https://kit.fontawesome.com/43ab3e4e97.js" crossorigin="anonymous"></script>
<script src="../Dom/hospitals.js"></script>
<script src="../Dom/script.js"></script>
</html>