<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/hospitals.css">
    <title>Hospitals Page</title>
</head>
<body>

<header><!-- Header Nav starts here -->
        <nav class="container">
            <div class="nav-img">
                <a href="./index.html"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="Logo_Tvastra"></a>
            </div>
            <div class="nav-links"><!--Content for pc and laptop-->
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
            </div>
            <div class="nav-button">
                <a href="./signin.html"><button class="nav-login-button">Login / Sign Up</button></a>
                <button class="nav-quote-button">Get a Quote</button>
            </div>  <!--Content for pc and laptop-->

            <div class="dropdown"><!-- Content for tablet and Mobile View Only -->
               <i onclick="myFunction()" class="dropbtn fas fa-bars fa-lg"></i>
               <div id="myDropdown" class="dropdown-content">
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
                   <a href="#">SignIn / SignUp</a>
               </div>
            </div> <!-- Content for tablet view Only till here -->
        </nav>
</header> <!-- Header Nav ends Here -->
    
<section class="hos-section-1"> <!--Section 1 starts here-->
    <div class="container hos-sec-1">
        <h2>Hospitals in <span>Delhi</span></h2>
        </div>
    </div>
</section><!-- Section 1 Ends -->

<section class="hos-section-2 container"><!-- Section 2 Starts here (About hostors) -->
    <div class="section-2-heading">
        <h4>Home / Hospital List</h4>
        <button>Sort By<span><i class="fas fa-angle-down"></i></span></button>
    </div>

    <div class="filter-by"><!-- hostor Filter  -->
        <h5>Filter By</h3>
        
            <div class="Fsec filter-by-location container">
                <div class="filter-title">
                    <h4>Location</h4><span><i class="fa fa-search fa-xs"></i><i class="fa fa-minus fa-xs"></i></span>
                </div>
                <input type="checkbox" id="dlf-cyber-city" value="DLF Cyber City">
                <label for="dlf-cyber-city">DLF Cyber City</label><br>
                <input type="checkbox" id="dwarka" value="Dwarka">
                <label for="dwarka">Dwarka</label><br>
                <input type="checkbox" id="LajpatNagar" value="Lajpat Nagar">
                <label for="LajpatNagar">Lajpat Nagar</label><br>
                <input type="checkbox" id="palamvihar" value="Palam Vihar">
                <label for="palamvihar">Palam Vihar</label><br>
                <input type="checkbox" id="punjabi-baag" value="Punjabi Baag">
                <label for="punjabi-baag">Punjabi Baag</label>
                <h6>+ Show more</h6>
            </div>
        <hr class="filter-hr">

        <div class="Fsec filter-by-treatment container">
            <div class="filter-title">
                <h4>Treatment</h4><span><i class="fa fa-search fa-xs"></i><i class="fa fa-minus fa-xs"></i></span>
            </div>
            <input type="checkbox" id="multi-orhan-transplant" value="Multi Organ Transplant">
            <label for="multi-orhan-transplant">Multi Organ Transplant</label><br>
            <input type="checkbox" id="orthopedics-surgery" value="Orthopedics Surgery">
            <label for="orthopedics-surgery">Orthopedics Surgery</label><br>
            <input type="checkbox" id="infertility-treatment" value="Infertility Treatment">
            <label for="infertility-treatment">Infertility Treatment</label><br>
            <input type="checkbox" id="dentistry" value="Dentistry">
            <label for="dentistry"> Dentistry</label><br>
            <input type="checkbox" id="cardiology" value="Cardiology">
            <label for="cardiology">Cardiology</label><br>
            <input type="checkbox" id="cancer" value="Cancer">
            <label for="cancer">Cancer</label>
            <h6>+ Show more</h6>
        </div>
        <hr class="filter-hr">

        <div class="Fsec filter-by-hospital container">
            <div class="filter-title">
                <h4>Department</h4><span><i class="fa fa-search fa-xs"></i><i class="fa fa-minus fa-xs"></i></span>
            </div>
            <input type="checkbox" id="department-one" value="Department One">
            <label for="department-one">Department One</label><br>
            <input type="checkbox" id="department-two" value="Department Two">
            <label for="department-two">Department Two</label><br>
            <input type="checkbox" id="department-three" value="Department Three">
            <label for="department-three">Department Three</label><br>
            <input type="checkbox" id="department-four" value="Department Four">
            <label for="department-four">Department Four</label><br>
            <input type="checkbox" id="department-five" value="Department Five">
            <label for="department-five">Department Five</label><br>
            <input type="checkbox" id="department-six" value="Department Six">
            <label for="department-six">Department Six</label><br>
            <h6>+ Show more</h6>
        </div>
        <hr class="filter-hr">
    </div><!-- filter by column ends here -->
    
    <div class="section-2-hos-info"><!-- hostor Information -->
            <!-- hostor 1 -->
            <div class="section-2-hos-div">
                <div class="hos-info">
                    <hr class="hos-name-bar">
                    <h3>Apollo Hospital</h3>
                    <h6><i class='fas fa-map-marker-alt'></i>New Delhi, India</h6>
                    <h6><i class='fas fa-bed'></i>133 Beds</h6>
                    <div class="hos-info-inner">
                        <h6><i class="fas fa-stethoscope"></i>Famous Treatments</h6>
                        <div>
                        <span>Multi Organ Transplant</span>
                        <span>orthopedics Surgery</span>
                        <span>infertility Treatment</span>
                        <span>Dentistry</span>
                        <span>Cardiology</span>
                        <span>Cancer</span>
                        <span class="bg-lightgray">+40 more</span>
                        </div>
                    </div>
                </div>
                <div class="hos-info-button"><button>Call Now</button></div>
                <div class="hos0 image"></div>
            </div>
<!-- Hosital 2 -->
            <div class="section-2-hos-div">
                <div class="hos-info">
                    <hr class="hos-name-bar">
                    <h3>Fortis</h3>
                    <h6><i class='fas fa-map-marker-alt'></i>New Delhi, India</h6>
                    <h6><i class='fas fa-bed'></i>133 Beds</h6>
                    <div class="hos-info-inner">
                        <h6><i class="fas fa-stethoscope"></i>Famous Treatments</h6>
                        <div>
                        <span>Multi Organ Transplant</span>
                        <span>orthopedics Surgery</span>
                        <span>infertility Treatment</span>
                        <span>Dentistry</span>
                        <span>Cardiology</span>
                        <span>Cancer</span>
                        <span class="bg-lightgray">+40 more</span>
                        </div>
                    </div>
                </div>
                <div class="hos-info-button"><button>Call Now</button></div>
                <div class="hos1 image"></div>
            </div>
<!-- Hospital 3 -->
            <div class="section-2-hos-div">
                <div class="hos-info">
                    <hr class="hos-name-bar">
                    <h3>Rockland Hospital</h3>
                    <h6><i class='fas fa-map-marker-alt'></i>New Delhi, India</h6>
                    <h6><i class='fas fa-bed'></i>133 Beds</h6>
                    <div class="hos-info-inner">
                        <h6><i class="fas fa-stethoscope"></i>Famous Treatments</h6>
                        <div>
                        <span>Multi Organ Transplant</span>
                        <span>orthopedics Surgery</span>
                        <span>infertility Treatment</span>
                        <span>Dentistry</span>
                        <span>Cardiology</span>
                        <span>Cancer</span>
                        <span class="bg-lightgray">+40 more</span>
                        </div>
                    </div>
                </div>
                <div class="hos-info-button"><button>Call Now</button></div>
                <div class="hos2 image"></div>
            </div>
<!-- Hospital 4 -->
            <div class="section-2-hos-div">
                <div class="hos-info">
                    <hr class="hos-name-bar">
                    <h3>Primus Super Speciality Hospital</h3>
                    <h6><i class='fas fa-map-marker-alt'></i>New Delhi, India</h6>
                    <h6><i class='fas fa-bed'></i>133 Beds</h6>
                    <div class="hos-info-inner">
                        <h6><i class="fas fa-stethoscope"></i>Famous Treatments</h6>
                        <div>
                        <span>Multi Organ Transplant</span>
                        <span>orthopedics Surgery</span>
                        <span>infertility Treatment</span>
                        <span>Dentistry</span>
                        <span>Cardiology</span>
                        <span>Cancer</span>
                        <span class="bg-lightgray">+40 more</span>
                        </div>
                    </div>
                </div>
                <div class="hos-info-button"><button>Call Now</button></div>
                <div class="hos3 image"></div>
            </div>
    </div>
</section><!-- Section 2 ends here -->

<section class="need-help">
    <div class="need-help-inner container"><!--Need Help Container-->
        <div class="need-help-text">
            <h2>Need Help?</h2>
            <p>Just let us know. We will be happy to assist you!</p>
        </div>
        <div class="need-help-button">
           <button>Submit your query</button>
        </div>
    </div>
</section><!-- Need Help Section ends here -->

<footer class="footer"> <!--Footer-->
    <div class="container">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="Footer.png">
            <div class="footer-links">
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
                <a href="#">FAQs</a>
             </div>
             <div class="socialmedia-icons">
                <i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i><i class="fab fa-pinterest"></i><i class="fab fa-google-plus"></i><i class="fab fa-instagram"></i>
             </div>
             <p>All Rights Reserved. &#169; tvastra 2021</p>
    </div>
</footer> <!--footer ends-->
<hr class="footer-footer">

</body>
<script src="https://kit.fontawesome.com/43ab3e4e97.js" crossorigin="anonymous"></script>
<script src="../Dom/script.js"></script>
</html>