<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/index.css">
    <title>Home Page</title>
</head>
<body>
<header><!-- Header Nav starts here -->
        <nav class="container">
            <div class="nav-img">
                <a href="./index.html"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="Logo_Tvastra"></a>
            </div>
            <div class="nav-links"><!--Content for pc and laptop-->
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">Hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
            </div>
            <div class="nav-button">
                <a href="./signin.html"><button class="nav-login-button">Login / Sign Up</button></a>
                <button class="nav-quote-button">Get a Quote</button>
            </div>  <!--Content for pc and laptop-->
            <div class="dropdown"><!-- Content for tablet and Mobile View Only -->
               <i onclick="myFunction()" class="dropbtn fas fa-bars fa-lg"></i>
               <div id="myDropdown" class="dropdown-content">
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">Hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
                <a href="#">SignIn / SignUp</a>
               </div>
            </div> <!-- Content for tablet view Only till here -->
        </nav>
</header> <!-- Header Nav ends Here -->    
<section class="section-1"> <!--Section 1 starts here-->
        <div class="container sec-1">
            <h1>Find Affordable Healthcare</h1>
            <p>Join the thousands of others who have exercised their right to quality healthcare at a price you can afford.</p>
            <div class="sec-1-search">
                <div class="sec-1-search-inner-div"><i class='fas fa-map-marker-alt map-marker'></i><i class='fas fa-crosshairs'></i>
                <input class="location" type="text" name="location" placeholder="Ahemdabad"></div>
                <div class="search-bar-with-suggestion">
                  <input id="user_search_input" class="search-bar" type="text" name="search-bar" placeholder="Search for doctors, hospitals and treatments.">
                  <ul id="suggestion_ul" class="search-bar-suggestion-list">
                    <!-- suggestion will show here -->
                  </ul>
                </div>
                <button id="user_search_button" type="button">Search</button>
            </div>
        </div>
</section><!-- Section 1 Ends -->
<section class="section-2 container"> <!-- Section 2 start-->
    <div class="text">
            <h1>How it works</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                </p>
     </div>
     <div class="buttons">
            <h2 id="one" onclick="active1()" class="one"><span>01</span>Fix Consultation</h2>
           <!-- This only works in mobile view -->
            <div class="tab-mob-image">
                <img id="sideimage_HIW_mob" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png" alt="">
                <h3 id="sideimage_h3_mob">Fix Consultation</h3>
                <p id="sideimage_p_mob">This depicts that user will have to fix appointment
                    first when it selects a particular doctor</p>
            </div>
            <h2 id="two" onclick="active2()"><span>02</span>Upload Medical Reports</h2>
            <h2 id="three" onclick="active3()"><span>03</span>Consult with doctor</h2>
            <h2 id="four" onclick="active4()"><span>04</span>Fix surgery</h2>
            <h2 id="five" onclick="active5()"><span>05</span>Hospital sent estimates</h2>
            <h2 id="six" onclick="active6()"><span>06</span>Payment</h2>
            <h2 id="seven" onclick="active7()"><span>07</span>Surgery Completed</h2>
    </div>
        <!-- This Only works in Desktop and tablet view -->
    <div class="image">
            <img id="sideimage_HIW_desk-tab" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png" alt="">
            <h2 id="sideimage_h2_desk-tab">Fix Consultation</h2>
            <p id="sideimage_p_desk-tab">This depicts that user will have to fix appointment first when it selects a particular doctor</p>
    </div>
</section><!--Section 2 end-->
<section class="section-3"><!-- Section 3 -->
    <div class="container">
        <h1>World class expert doctors!</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis strud exerci tation ullamcorper suscipit lobortis nisl ut</p>
        <div class="list-of-doctors">
        <!-- Doctor 1 -->
        <div class="DocCard">
            <div class="D1-img DocCard-img"></div>
            <div class="DocCard-text">
                <hr class="name-bar">
             <h3 class="DocCard-docname">Charlie Moon</h3>
             <p>Cardiac Surgeon <br>
                MBBS,MD,FRCP,MRCP,FellowShip<br>
                New Delhi, India
             </p>
             <hr class="DocCard-footer">
            </div>  
        </div>
        <!-- Doctor 2 -->
        <div class="DocCard">
            <div class="D2-img DocCard-img"></div>
            <div class="DocCard-text">
                <hr class="name-bar">
             <h3 class="DocCard-docname">Charlie Moon</h3>
             <p>Cardiac Surgeon <br>
                MBBS,MD,FRCP,MRCP,FellowShip <br>
                New Delhi, India
             </p>
             <hr class="DocCard-footer">
            </div>
        </div>
        <!-- Doctor 3 -->
        <div class="DocCard">
            <div class="D3-img DocCard-img"></div>
            <div class="DocCard-text">
                <hr class="name-bar">
             <h3 class="DocCard-docname">Charlie Moon</h3>
             <p>Cardiac Surgeon <br>
                MBBS,MD,FRCP,MRCP,FellowShip <br>
                New Delhi, India
             </p>
             <hr class="DocCard-footer">
            </div>           
        </div>
        <!-- Doctor 4 -->
        <div class="DocCard">
            <div class="D4-img DocCard-img"></div>
            <div class="DocCard-text">
                <hr class="name-bar">
             <h3 class="DocCard-docname">Charlie Moon</h3>
             <p>Cardiac Surgeon <br>
                MBBS,MD,FRCP,MRCP,FellowShip <br>
                New Delhi, India
             </p>
             <hr class="DocCard-footer">
            </div>         
        </div>
    </div>
</section><!-- Section 3 ends  -->
<section class="section-4 container"><!-- Section 4 starts -->
    <div class="sec-4-inner-div">
        <div class="How-it-works-text">
            <h1>Featured Medical Treatments</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis strud exerci tation ullamcorper suscipit lobortis nisl ut</p>
        </div>
        <div class="sec-4-img">
          <div class="T1-img dentistry go-to-bottom">
            <div class="treatment-img-text"><span>Dentistry</span><br>50+ Specialists</div>
          </div>
          <div class="T2-img cancer go-to-bottom">
            <div class="treatment-img-text"><span>Cancer</span><br>50+ Specialists</div>
          </div>
          <div class="T3-img cardiologic go-to-bottom">
            <div class="treatment-img-text"><span>Cardiologic</span><br>50+ Specialists</div>
          </div>
          <div class="T4-img multi-organ go-to-bottom">
            <div class="treatment-img-text"><span>Multi-organ</span><br>50+ Specialists</div>
          </div>
          <div class="T5-img orthopedics go-to-bottom">
            <div class="treatment-img-text"><span>Orthopedics</span><br>50+ Specialists</div>
          </div>
          <div class="T6-img infertility go-to-bottom">
            <div class="treatment-img-text"><span>Infertility</span><br>50+ Specialists</div>
          </div>
        </div>
    </div>
</section><!--  section-4 ends here -->
<section class="section-5"><!--  section-5 Starts here -->
    <div class="container">
        <h1>Exclusive Services</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
            ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut</p>
        <div class="sec-5-icons">
            <div><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-01.png" alt="travel png"><h3>TRAVEL</h3></div>
            <div><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-02.png" alt="travel png"><h3>FOOD</h3></div>
            <div><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-03.png" alt="travel png"><h3>ACCOMODATION</h3></div>
            <div><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-07.png" alt="travel png"><h3>LABS</h3></div>
            <div><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-12.png" alt="travel png"><h3>REPORTS</h3></div>
            <div><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-06.png" alt="travel png"><h3>AMBULANCE</h3></div>
        </div>
    </div>  
</section><!-- Homepage sec-5 ends here -->
<section class="need-help">
    <div class="need-help-inner container"><!--Need Help Container-->
        <div class="need-help-text">
            <h2>Need Help?</h2>
            <p>Just let us know. We will be happy to assist you!</p>
        </div>
        <div class="need-help-button">
           <a href="./submitquery.html"><button>Submit your query</button></a>
        </div>
    </div>
</section><!-- Need Help Section ends here -->
<footer class="footer"> <!--Footer-->
    <div class="container">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="Footer.png">
            <div class="footer-links">
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">Hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
                <a href="#">FAQs</a>
             </div>
             <div class="socialmedia-icons">
                <i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i><i class="fab fa-pinterest"></i><i class="fab fa-google-plus"></i><i class="fab fa-instagram"></i>
             </div>
             <p>All Rights Reserved. &#169; tvastra 2021</p>
    </div>
</footer> <!--footer ends-->
<hr class="footer-footer">
</body>
<script src="https://kit.fontawesome.com/43ab3e4e97.js" crossorigin="anonymous"></script>
<script src="../Dom/index.js"></script>
<script src="../Dom/script.js"></script>
</html>