<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>Sign Up</title>
</head>
<body>
    
<header><!-- Header Nav starts here -->
        <nav class="container">
            <div class="nav-img">
                <a href="./index.html"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="Logo_Tvastra"></a>
            </div>
            <div class="nav-links"><!--Content for pc and laptop-->
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
            </div>
            <div class="nav-button">
                <a href="./signin.html"><button class="nav-login-button">Login / Sign Up</button></a>
                <button class="nav-quote-button">Get a Quote</button>
            </div>  <!--Content for pc and laptop-->

            <div class="dropdown"><!-- Content for tablet and Mobile View Only -->
               <i onclick="myFunction()" class="dropbtn fas fa-bars fa-lg"></i>
               <div id="myDropdown" class="dropdown-content">
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
                   <a href="#">SignIn / SignUp</a>
               </div>
            </div> <!-- Content for tablet view Only till here -->
        </nav>
</header> <!-- Header Nav ends Here -->

<section>
    <div class="signup-form">
        <h2>Sign Up</h2>
        <form action="" class="form">
            <hr>
            <input type="text" class="name" name="Name" placeholder="Enter Name" required>
            <input type="email" class="Email" name="Email" placeholder="Enter Email" required>
            <input type="password" class="password" name="Password" placeholder="Enter Password" required>
            <input type="text" list="gender" id="Gender" placeholder="Enter your Gender">
            <datalist id="gender">
                <option value="M">Male</option>
                <option value="f">Female</option>
                <option value="O">Others</option>
            </datalist>

            <input type="datetime-local" name="date" id="date" placeholder="D.O.B" required>
            <input type="number" class="phone-number" placeholder="Enter Number" required>
            <input type="text" class="city" placeholder="Enter City" required>
            <input type="text" class="state" placeholder="Enter State" required>
            
            <input type="text" list="cities" id="city" name="city" placeholder="Enter your Country">
            <datalist id="cities">
            <option value="NYC">New York City</option>
            <option value="Tky">Tokyo</option>
            <option value="Brcln">Barcelona</option>
            <option value="MC">Mexico City</option>
            <option value="Mb">Melbourne</option>
            <option value="Other">Other</option>  
        </datalist>

            <button type="submit">SIGN UP</button>
        </form>
        <p>Already Registered?</p><a href="../views/signin.html">Sign In</a>
        
    </div>
    <footer class="footer"> <!--Footer-->
        <p>All Rights Reserved. &#169; tvastra 2021</p>
</div>
</footer> <!--footer ends-->
<hr class="footer-footer">  
</body>
<script src="https://kit.fontawesome.com/43ab3e4e97.js" crossorigin="anonymous"></script>
<script src="../Dom/script.js"></script>
</html>