<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/treatment.css">
    <title>Hospital Page</title>
</head>
<body>

    <header><!-- Header Nav starts here -->
        <nav class="container">
            <div class="nav-img">
                <a href="index.html"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="Logo_Tvastra"></a>
            </div>
            <div class="nav-links"><!--Content for pc and laptop-->
                <a href="doctors.html">Doctors</a>
                <a href="hospitals.html">Hospitals</a>
                <a href="treatment.html">Treatment</a>
                <a href="tvastraplus.html">Other Services</a>
                <a href="aboutus.html">About</a>
            </div>
            <div class="nav-button">
                <% if(user == 'hello') { %>
                    <a href="./signin.html"><button class="nav-login-button">Login / Sign Up</button></a>
                <% } %>
                <% if(user.name) { %>
                    <!-- User dropdown -->
                    <div class="user-dropdown">
                        <button onclick="userdropdown()" class="user-dropbtn user-button"><%= user.name %><i onclick="userdropdown()" id="user-dropdown-icon" class="fas fa-chevron-down fa-sm"></i></button>
                            <div id="user-dropdown" class="user-dropdown-content">
                                <div class="dropdown-user-div">
                                    <i class="far fa-user"></i>
                                    <div>
                                        <h6 class="user-name"><%= user.name %></h6> 
                                        <h6 class="user-number"><%= user.mobile %></h6>
                                    </div>
                                </div>
                                <a href="#">Profile</a>
                                <a href="#">Appointments</a>
                                <a href="#">Settings</a>
                            </div>                    
                    </div>
                 <a href="./logout"><button class="logout-button">LogOut</button></a>
                <% } %>  
            </div>  <!--Content for pc and laptop-->
            <div class="dropdown"><!-- Content for tablet and Mobile View Only -->
               <i onclick="myFunction()" class="dropbtn fas fa-bars fa-lg"></i>
               <div id="myDropdown" class="dropdown-content">
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">Hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
                <% if(user == 'hello') { %>
                    <a href="./signin.html"><button class="nav-login-button">Login / Sign Up</button></a>
                <% } %>
                <% if(user.name) { %>
                    <a href="#">Profile</a>
                    <a href="#">Appointments</a>
                    <a href="#">Settings</a>
                    <a href="./logout">LogOut</a>
                <% } %> 
               </div>
            </div> <!-- Content for tablet view Only till here -->
        </nav>
    </header> <!-- Header Nav ends Here --> 

<section class="treatment-section-1"> <!--Section 1 starts here-->
    <div class="container treatment-sec-1">
        <h1>Dentistry</h1>
        <p>Home / Dentistry</p>
        </div>
    </div>
</section><!-- Section 1 Ends -->

<section class="treatment-section-2 container"> <!--Section 2 -->
    <div class="section-2-main">
        <div class="section-2-main-data">
            <h2>Vaccination</h2>
            <div class="section-2-main-image"></div>
            <div class="section-2-main-text">
                <h3>About Dentist Department</h3>
                <p class="font-w-l">Lorem ipsum dolor, Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, quod. sit amet consectetur adipisicing elit. Consectetur tempora soluta illum sed totam dolorum esse quo a in nihil quod reprehenderit fuga similique at doloremque, non consequuntur. Aspernatur, sit.</p>
                <ul>
                    <li>CF-related diabetes (monthly)</li><br>
                    <li>Gastrointestinal (monthly)</li><br>
                    <li>CF-related liver disease (monthly)</li><br>
                    <li>Sweat testing (three times per month)</li><br>
                </ul>
            </div>
        </div>
        <div class="section-2-main-cards">
            <div>
                <i class="fas fa-stethoscope"></i>
                <h5 class="font-f-b">Central Nervous System</h5>
                <p class="font-w-l">consectetur adipisicing elit. Quo voluptate deserunt ducimus cumque id provident.</p>
            </div>
            <div>
                <i class="fas fa-tablets"></i>
                <h5 class="font-f-b">Allergic Disorders</h5>
                <p class="font-w-l">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, optio excepturi ad culpa neque consequuntur.</p>
            </div>
            <div>
                <i class="fas fa-heartbeat"></i>
                <h5>Neoplastic Disorders</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, optio excepturi ad culpa neque consequuntur.</p>
            </div>
        </div>
    </div>
    
    <div class="section-2-side">
        <div class="side-1">
            <hr>
            <h5>Service Details</h5>
            <span><h6>Price</h6>from $340</span>
            <span><h6>Duration</h6>10 Minutes</span>
            <span><h6>Office</h6>#46</span>
            <span><h6>Doctor</h6>Dr. Elizabeth Beard</span>
            <span><h6>Categories</h6>Family </span>
        </div>
        <div class="side-2">
            <hr>
            <h5>Schedule</h5>
            <span><h6>Tuesday</h6>10:00am - 01:00pm</span>
            <span><h6>Friday</h6>07:00am 10:00pm</span>
        </div>
    </div>

</section><!--Section 2 ends-->

<section class="more-services"><!-- More Services Section starts here -->
    <div class="more-services-container">
             <div class="more-services-container-text">
                <h1>More Services</h1>
                <div>
                    <i class="fas fa-chevron-circle-left fa-2x"></i><i class="fas fa-chevron-circle-right fa-2x"></i>
                </div>
             </div>
            <div class="more-services-container-img">
                <div class="services-img img-1">
                    <hr>
                    <h3>Orthopedic Surgery</h2>
                </div>
                <div class="services-img img-2">
                    <hr>
                    <h3>Cancer</h2>
                </div>
                <div class="services-img img-3">
                    <hr>
                    <h3>Cardiology</h2>
                </div>
            </div>
    </div>
</section><!-- More Services Section ends here -->

<footer onclick="display()" class="footer"> <!--Footer-->
    <div class="container">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="Footer.png">
            <div class="footer-links">
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">Hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
                <a href="./FAQs.html">FAQs</a>
             </div>
             <div class="socialmedia-icons">
                <i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i><i class="fab fa-pinterest"></i><i class="fab fa-google-plus"></i><i class="fab fa-instagram"></i>
             </div>
             <p>All Rights Reserved. &#169; tvastra 2021</p>
    </div>
</footer> <!--footer ends-->
<hr class="footer-footer">

</body>
<script src="https://kit.fontawesome.com/43ab3e4e97.js" crossorigin="anonymous"></script>
<script src="../Dom/script.js"></script>
</html>
