<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/doctors.css">
    <link rel="stylesheet" href="../css/tvastraplus.css">
</head>
<body>

<header><!-- Header Nav starts here -->
        <nav class="container">
            <div class="nav-img">
                <a href="./index.html"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="Logo_Tvastra"></a>
            </div>
            <div class="nav-links"><!--Content for pc and laptop-->
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">Hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
            </div>
            <div class="nav-button">
                <a href="./signin.html"><button class="nav-login-button">Login / Sign Up</button></a>
                <button class="nav-quote-button">Get a Quote</button>
            </div>  <!--Content for pc and laptop-->

            <div class="dropdown"><!-- Content for tablet and Mobile View Only -->
               <i onclick="myFunction()" class="dropbtn fas fa-bars fa-lg"></i>
               <div id="myDropdown" class="dropdown-content">
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
                   <a href="#">SignIn / SignUp</a>
               </div>
            </div> <!-- Content for tablet view Only till here -->
        </nav>
</header> <!-- Header Nav ends Here -->


<section class="Tvastra-Plus-About"><!-- Tvastra Plus starts here ( About ) -->
        <div class="Tvastra-Plus-Plans-Section">
            <span class="Tvastra-Plus-Plans-Section-span">PLUS</span>
            <h1>Healthcare plans for you and your family.</h1>
            <p>Become a Tvastra Plus Member and save 60% off on your yearly health expenses</p>
            <div class="Tvastra-Plus-Plans effect8">
                <h2>Select a Tavastra Plus healthcare plan</h2>
                <p class="Tvastra-Plus-Plans-p">All Plus plans are for 4 adults and 2 children</p>
                <div class="plus-plans-categories">
                    <div class="Basic-plan">
                        <div>
                            <hr class="plus-plans-categories-largeHR">
                            <h3>Basic Plan</h3>
                            <hr class="plus-plans-categories-smallHR">
                            <div class="facylities">
                                <p>Unlimited Consultation with any speciality</p>
                                <p>20% Off on prescription medicines</p>
                                <p>20% Off on tests & checkups</p>
                            </div>
                        </div>
                        <div>
                            <div class="price">
                                <h2>Rs 2,999<span>/year</span></h2>
                                <p>View Plans Details</p>
                                <button type="button">Buy Plan</button>
                            </div>
                        </div>
                    </div>
                    <div class="Advanced-plan">
                        <div>
                            <span class="Advanced-plan-span">Popular</span>
                            <hr class="plus-plans-categories-largeHR">
                            <h3>Advanced Plan</h3>
                            <hr class="plus-plans-categories-smallHR">
                            <div class="facylities">
                                <p>Unlimited Consultation with any speciality</p>
                                <p>20% Off on prescription medicines</p>
                                <p>20% Off on tests & checkups</p>
                                <p>10 Free In-Clinic consultations</p>
                            </div>
                        </div>
                        <div>
                            <div class="price">
                                <h2>Rs 3,999<span>/year</span></h2>
                                <p>View Plans Details</p>
                                <button type="button">Buy Plan</button>
                            </div>
                        </div>                        
                    </div>
                    <div class="Comprehensive-plan">
                        <div>
                            <hr class="plus-plans-categories-largeHR">
                            <h3>Comprehensive Plan</h3>
                            <hr class="plus-plans-categories-smallHR">
                            <div class="facylities">
                                <p>Unlimited Consultation with any speciality</p>
                                <p>20% Off on prescription medicines</p>
                                <p>20% Off on tests & checkups</p>
                                <p>10 Free In-Clinic consultations</p>
                                <p>2 Master health checkups</p>
                            </div>
                        </div>
                        <div>
                            <div class="price">
                                <h2>Rs 5,999<span>/year</span></h2>
                                <p>View Plans Details</p>
                                <button type="button">Buy Plan</button>
                            </div>
                        </div>                          
                    </div>     
                </div>
            </div>
        </div>
        <div class="Tvastra-Plus-About-BackgroundSection">
            <div class="Tvastra-Plus-About-ImageSection"></div>
            <div class="Tvastra-Plus-About-EmptyBackgroundSection"></div>
        </div>
        <div class="stats">
            <div class="stats_head">
                <h2>Trusted by 2 Crore+ users every month</h2>
                <p>Tvastra is the leading healthcare technology company in India. We began in 2009 and<br>
                today we help 2 crore customers every month.</p>
            </div>
            <div class="ratings">
                <div class="total-rating">
                    <strong>4.0</strong>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <p>1000+ Reviews</p>
                </div>
                <div class="rating-distribution">
                    <div>
                        <label for="#5">5</label><br>
                        <label for="#4">4</label><br>
                        <label for="#3">3</label><br>
                        <label for="#2">2</label><br>
                        <label for="#1">1</label><br>
                    </div>
                    <div>
                        <meter id="label-5" value="7" min="0" max="10">70% out of 100%</meter><br>
                        <meter id="label-4" value="5" min="0" max="10">45% out of 100%</meter><br>
                        <meter id="label-3" value="6" min="0" max="10">55% out of 100%</meter><br>
                        <meter id="label-2" value="3" min="0" max="10">30% out of 100%</meter><br>
                        <meter id="label-1" value="2" min="0" max="10">20% out of 100%</meter><br>
                    </div>
                </div>
            </div>
            <div class="Reviews">
                <div class="Reviews-cards">
                    <i class='fas fa-users'></i>
                    <span>2 Core+</span>
                    <p>Monthly Customers</p>
                </div>
                <div class="Reviews-cards">
                    <i class='fas fa-user-md'></i>
                    <span>100,000+</span>
                    <p>Verfied Doctors</p>
                </div>
                <div class="Reviews-cards">
                    <i class='fas fa-pills'></i>
                    <span>10 Lakh+</span>
                    <p>Medicine Orders Delivered</p>
                </div>
                <div class="Reviews-cards">
                    <i class='fas fa-portrait'></i>
                    <span>5 Crore+</span>
                    <p>Doctor Appointments</p>
                </div>
            </div>
        </div>
</section><!-- Tvastra Plus ends here ( About ) -->


<!-- Benifits of Plus membership starts here -->
    <section class="Benifits-of-Plus-membership">
        <h1 class="membership-header">Benifits of Plus membership</h1>
        <hr class="membership-hr">
        <div class="membership-sec1">
            <div class="sec-1-right">
                <h2>Zero fees for in-clinic consultation</h2>
                <div class="membership-point">
                    <span class="star-symbol">&#10022</span>
                    <span>Consult with 30,000+ specialist doctors at the top clinics & hospitals in the PLUS network at Rs.0 consultation fees*</span>
                </div>
                <div class="membership-point">
                    <span class="star-symbol">&#10022</span>
                    <span>Upto 10 in-clinic consultation used by any family member over 12 month period.</span>
                </div>
            </div>
            <div class="sec-1-left">
                <h3>Top Hospitals Onboarded</h3>
                <div class="hs-onboard">
                    <div class="hs-size hs1"></div>
                    <div class="hs-size hs2"></div>
                    <div class="hs-size hs3"></div>
                    <div class="hs-size hs4"></div>
                    <div class="hs-size hs5"></div>
                    <div class="hs-size hs6"></div>
                </div>
                <h4>+ More Hospitals</h4>
            </div>
        </div>
        <div class="membership-sec2">
            <div class="sec-2-left"></div>
            <div class="sec-2-right">
                <h2>Unlimited online consultations with top doctors</h2>
                <div class="membership-point">
                    <span class="star-symbol">&#10022</span>
                    <span>Get all your health queries answered from any specialist online, any time of the day</span>
                </div>
                <div class="membership-point">
                    <span class="star-symbol">&#10022</span>
                    <span>Connect under 2 minutes on text, call or vedio - available 24 hrs, 7 Days of the week</span>
                </div>
                <div class="membership-point">
                    <span class="star-symbol">&#10022</span>
                    <span>All online consultations are confidential. Only patient and doctor can the access the chats</span>
                </div>
            </div>
        </div>
        <div class="membership-sec3">
            <div class="sec-3-left">
                <h2>Flat 20% Off on prescription medicine, lab tests & checkups</h2>
                <div class="membership-point">
                    <span class="star-symbol">&#10022</span>
                    <span>Save money on medicines and lab tests for your entire family</span>
                </div>
                <div class="membership-point">
                    <span class="star-symbol">&#10022</span>
                    <span>Get flat 20% off on medicines that require presections & flat 20% off on health checkups and lab tests</span>
                </div>
                <div class="membership-point">
                    <span class="star-symbol">&#10022</span>
                    <span>No questions asked. No minimum order values, no limits, available in 100+ cities across India</span>
                </div>
            </div>
            <div class="sec-3-right"></div>
        </div>
        <div class="membership-sec4">
            <div class="sec-4-left"></div>
            <div class="sec-4-right">
                <h2>2 Free Health checkups</h2>
                <div class="membership-point">
                    <span class="star-symbol">&#10022</span>
                    <span>Discuss your test results with doctors through online consultations. Recieve E-Report within 48 hrs.</span>
                </div>
                <div class="membership-point">
                    <span class="star-symbol">&#10022</span>
                    <span>Home sample pickup</span>
                </div>
                <div class="membership-point">
                    <span class="star-symbol">&#10022</span>
                    <span>Tabs are NABL, CAP Accredited</span>
                </div>
                <div class="membership-point">
                    <span class="star-symbol">&#10022</span>
                    <span>Checkups can be booked anytime, even weekends. Tax deductible under 80D.</span>
                </div>
            </div>
        </div>
    </section>
<!-- Benifits of Plus membership ends here -->

<!-- test carosule starts here -->
    <section class="test_gallery">
        <div>
            <h2>20 Tests Included</h2>
            <ul>
                <li>
                    <img src="../images/vitamin_profile.jpg">
                    <strong>Vitamin Profile</strong>
                    <p>3 Tests</p>
                </li>
                <li>
                    <img src="../images/heart_profile.jpg">
                    <strong>Heart Profile</strong>
                    <p>3 Tests</p>
                </li>
                <li>
                    <img src="../images/iron_deficiency.jpg">
                    <strong>Iron Deficiency Profile</strong>
                    <p>3 Tests</p>
                </li>
                <li>
                    <img src="../images/lungs_profile.jpg">
                    <strong>Lungs Profile</strong>
                    <p>12 Tests</p>
                </li>
            </ul>
        </div>
    </section>
<!-- test carosule ends here -->

<!-- why we love tavastra starts here -->
    <section class="why_we_love_avastra">
        <div class="why_we_love_avastra_heading">
            <strong>Why we love Tvastra</strong>
            <span class="Tvastra-Plus-Plans-Section-span">PLUS</span>
        </div>
        <ul>
            <li>
                <p>"Wonderful experinece with Tvastra Plus it helped me in saving a lot of amount as provides free consultation with best doctor's."</p>
                <div class="consumer_info">
                    <img src="https://www.ayurvedaconsultants.com/frontEndFiles/images/doctor-circle.jpg">
                    <div>
                        <span class="consumer_name">Rishab Tiwari</span>
                        <span class="plan_type">Advanced Plan user</span>
                    </div>
                </div>
            </li>
            <li>
                <p>"Fantastic experience with health test using Tvastra Plus. Didn't pay anything for test. I came to know my deficiency in vitamin where family doctor feature helped me with medicine"</p>
                <div class="consumer_info">
                    <img src="https://plushcare.com/wp-content/uploads/2020/02/dr-james-circle-300x300.png">
                    <div>
                        <span class="consumer_name">Ramesh Aggrawal</span>
                        <span class="plan_type">Comprehensive Plan user</span>
                    </div>
                </div>
            </li>
            <li>
                <p>"24x7 access to doctors in just 60seconds with 2 kids, one of them is bound to fall sick. Comes in super handy."</p>
                <div class="consumer_info">
                    <img src="https://ffpcwakeforest.com/wp-content/uploads/2015/05/doctor-circle.png">
                    <div>
                        <span class="consumer_name">Prachi Gupta</span>
                        <span class="plan_type">Comprehensive Plan user</span>
                    </div>
                </div>
            </li>
        </ul>
    </section>
<!-- why we love tavastra ends here -->

<!-- FAQ starts here -->
    <section class="FAQ_section">
        <h1>Frequently Asked Questions</h1>
        <div class="doctor-other-text">
            <div class="heading-with-icon">
                <button class="dropdown-1">How does free in-clinic consultation with doctors and hospitals work?<span><i class="fas fa-chevron-circle-down"></i></span></button>
                <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam inventore quam aut voluptates natus? Quidem repellendus natus minus itaque quasi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
            </div>
            <div class="heading-with-icon">
                <button class="dropdown-1">Are there are any type of doctors not included in Tvastra Plus in-clinic consultation network?<span><i class="fas fa-chevron-circle-down"></i></span></button>
                <p class="content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe autem modi ducimus ad rerum dolores placeat totam sapiente deserunt quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
            </div>
            <div class="heading-with-icon">
                <button class="dropdown-1">How do the unlimited online consultation work?<span><i class="fas fa-chevron-circle-down"></i></span></button>
                <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque quasi neque iure in officia animi consequuntur vitae assumenda aut odio! Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
            </div>
            <div class="heading-with-icon">
                <button class="dropdown-1">How does flat 20% off on medicines work?<span><i class="fas fa-chevron-circle-down"></i></span></button>
                <p class="content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta ducimus beatae odio earum, minima itaque ut iusto repellat accusantium ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
            </div>
            <div class="heading-with-icon">
                <button class="dropdown-1">How does 20% off on lab tests work?<span><i class="fas fa-chevron-circle-down"></i></span></button>
                <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, praesentium vitae? Eaque magni quasi dignissimos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
            </div>
        </div>
    </section>
<!-- FAQ ends here -->

<footer class="footer"> <!--Footer-->
    <div class="container">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="Footer.png">
            <div class="footer-links">
                <a href="./doctors.html">Doctors</a>
                <a href="./hospitals.html">Hospitals</a>
                <a href="./treatment.html">Treatment</a>
                <a href="./tvastraplus.html">Other Services</a>
                <a href="./aboutus.html">About</a>
                <a href="./FAQs.html">FAQs</a>
             </div>
             <div class="socialmedia-icons">
                <i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i><i class="fab fa-pinterest"></i><i class="fab fa-google-plus"></i><i class="fab fa-instagram"></i>
             </div>
             <p>All Rights Reserved. &#169; tvastra 2021</p>
    </div>
</footer> <!--footer ends-->
<hr class="footer-footer">

</body>
<script src="https://kit.fontawesome.com/43ab3e4e97.js" crossorigin="anonymous"></script>
<script src="../Dom/script.js"></script>
</html>