<section class="doc-detail-sec-1"> <!--Section 1 starts -->
    <div class="container">
        <h1>About Zacli Sent</h1>
        <p>Home / Doctor Profile</p>  
     </div>
</section><!--section 1 ends-->

<section class="doc-detail-sec-2 container"><!--section 2 starts here-->
    <div class="doc-detail-sec-2-text">
        <hr>
        <h2>Zacli Sent</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam velit labore blanditiis totam libero, quae, inventore, aliquam soluta quasi repudiandae reprehenderit ipsam non ipsum neque aperiam delectus laborum officia suscipit nisi ut? Quas rerum minus hic, architecto est numquam doloremque quibusdam soluta, deleniti, quo ut autem mollitia dolor explicabo? Consequuntur.</p>
        <div class="doctor-other-text">
            <div class="heading-with-icon"><button class="dropdown-1"> <span><i class="fas-left fas fa-award"></i></span> Specialisation <span><i class="fas fa-chevron-circle-down"></i></span></button>
                <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
            </div>
            <div class="heading-with-icon"><button class="dropdown-1"> <span><i class="fas-left fas fa-stethoscope"></i></span> List Of  Treatments <span><i class="fas fa-chevron-circle-down"></i></span></button>
                <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
            </div>
            <div class="heading-with-icon"><button class="dropdown-1"> <span><i class="fas-left fas fa-hospital"></i></span> Work Experience <span><i class="fas fa-chevron-circle-down"></i></span></button>
                <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
            </div>
            <div class="heading-with-icon"><button class="dropdown-1"> <span><i class="fas-left fas fa-star"></i></span> Qualification <span><i class="fas fa-chevron-circle-down"></i></span></button>
                <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
            </div>
            <div class="heading-with-icon"><button class="dropdown-1"> <span><i class="fas-left fas fa-trophy"></i></span> Awards <span><i class="fas fa-chevron-circle-down"></i></span></button>
                <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
            </div>
            <div class="heading-with-icon"><button class="dropdown-1"> <span><i class="fas-left fas fa-map-marker-alt"></i></span> Location <span><i class="fas fa-chevron-circle-down"></i></span></button>
                <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
            </div>
            <div class="heading-with-icon"><button class="dropdown-1"> <span><i class="fas-left fas fa-id-card"></i></span> Avg Fees<span><i class="fas fa-chevron-circle-down"></i></span></button>
                <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
            </div>
        </div>
    </div>
<div class="doc-detail-sec-2-image">
    <div class="doc-detail-image" style="background-image: url(https://telemedizin.one/wp-content/uploads/2019/12/doctor07.jpg.pagespeed.ce.vrs67renwa.jpg);"></div>
    <div class="doc-info-button">
        <form action="Book_Appointment" method="POST">
            <button type="submit" name="doctorname" value="Zacli Sent">Book Appointment</button>
        </form>
    </div>
</div>
</section><!--Section 2 ends here-->