<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/theme.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/Doctordetails.css">
    <link rel="icon" type="image/x-icon" href="../../images/weblogo.png">
    <title>Tvastra | Doctor Info</title>
</head>
<body>

<!-- header -->
<%- include("../partials/header")  %>
<!-- header -->  

<section class="doc-detail-sec-1"> <!--Section 1 starts -->
    <div class="container1">
        <h1>About Erin Nier</h1>
        <p>Home / Doctor Profile</p>  
     </div>
</section><!--section 1 ends-->

<section class="doc-detail-sec-2 container1"><!--section 2 starts here-->
    <div class="doc-detail-sec-2-text">
        <hr>
        <h2>Erin Nier</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam velit labore blanditiis totam libero, quae, inventore, aliquam soluta quasi repudiandae reprehenderit ipsam non ipsum neque aperiam delectus laborum officia suscipit nisi ut? Quas rerum minus hic, architecto est numquam doloremque quibusdam soluta, deleniti, quo ut autem mollitia dolor explicabo? Consequuntur.</p>
        <div class="doctor-other-text">
            <div class="heading-with-icon"><button class="dropdown-1"> <span><i class="fas-left fas fa-award"></i></span> Specialisation <span><i class="fas fa-chevron-circle-down"></i></span></button>
                <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
            </div>
            <div class="heading-with-icon"><button class="dropdown-1"> <span><i class="fas-left fas fa-stethoscope"></i></span> List Of  Treatments <span><i class="fas fa-chevron-circle-down"></i></span></button>
                <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
            </div>
            <div class="heading-with-icon"><button class="dropdown-1"> <span><i class="fas-left fas fa-hospital"></i></span> Work Experience <span><i class="fas fa-chevron-circle-down"></i></span></button>
                <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
            </div>
            <div class="heading-with-icon"><button class="dropdown-1"> <span><i class="fas-left fas fa-star"></i></span> Qualification <span><i class="fas fa-chevron-circle-down"></i></span></button>
                <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
            </div>
            <div class="heading-with-icon"><button class="dropdown-1"> <span><i class="fas-left fas fa-trophy"></i></span> Awards <span><i class="fas fa-chevron-circle-down"></i></span></button>
                <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
            </div>
            <div class="heading-with-icon"><button class="dropdown-1"> <span><i class="fas-left fas fa-map-marker-alt"></i></span> Location <span><i class="fas fa-chevron-circle-down"></i></span></button>
                <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
            </div>
            <div class="heading-with-icon"><button class="dropdown-1"> <span><i class="fas-left fas fa-id-card"></i></span> Avg Fees<span><i class="fas fa-chevron-circle-down"></i></span></button>
                <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quia! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, hic?</p>
            </div>
        </div>
    </div>
<div class="doc-detail-sec-2-image">
    <div class="doc-detail-image" style="background-image: url(https://post.medicalnewstoday.com/wp-content/uploads/2019/01/Male_Doctor_732x549-thumbnail.jpg);"></div>
    <div class="doc-info-button">
        <form action="Book_Appointment" method="POST">
            <button type="submit" name="doctorname" value="Erin Nier">Book Appointment</button>
        </form>
    </div>
</div>
</section><!--Section 2 ends here-->

<section class="need-help"><!-- Need Help Section starts here -->
    <div class="need-help-inner container1"><!--Need Help container1-->
        <div class="need-help-text">
            <h2>Need Help?</h2>
            <p>Just let us know. We will be happy to assist you!</p>
        </div>
        <div class="need-help-button">
            <a href="Submit_Query"><button>Submit your query</button></a>
        </div>
    </div>
</section><!-- Need Help Section ends here -->

<!-- footer  -->
<%- include("../partials/footer")  %>
<!-- footer -->

</body>
<script src="https://kit.fontawesome.com/43ab3e4e97.js" crossorigin="anonymous"></script>
<script src="../../Dom/script.js"></script>
</html>