<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- owl carosule -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" />
    <!-- local -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/treatment.css">
    <link rel="icon" type="image/x-icon" href="../images/weblogo.png">
    <title>Tvastra | Orthopedic</title>
</head>
<body>

<!-- header -->
<%- include("../partials/header")  %>
<!-- header --> 

<section class="treatment-section-1" style="background-image:linear-gradient(to left, rgba(0,0,0,0),var(--blue)), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist_hero_image.jpg);"> <!--Section 1 starts here-->
    <div class="container treatment-sec-1">
        <h1>Orthopedic</h1>
        <p>Home / Orthopedic</p>
        </div>
    </div>
</section><!-- Section 1 Ends -->

<section class="treatment-section-2 container"> <!--Section 2 -->
    <div class="section-2-main">
        <div class="section-2-main-data">
            <h2>Vaccination</h2>
            <div class="section-2-main-image" style="background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg);"></div>
            <div class="section-2-main-text">
                <h3>About Orthopedic Department</h3>
                <p class="font-w-l">The vaccination of dentists against various vaccine-preventable infections is the most important measure of primary prevention against such diseases which would otherwise prove fatal for both the dentists and their patients.</p>
                <ul>
                    <li>CF-related diabetes (monthly)</li><br>
                    <li>Gastrointestinal (monthly)</li><br>
                    <li>CF-related liver disease (monthly)</li><br>
                    <li>Sweat testing (three times per month)</li><br>
                </ul>
            </div>
        </div>
        <div class="section-2-main-cards">
            <div>
                <i class="fas fa-stethoscope"></i>
                <h5 class="font-f-b">Central Nervous System</h5>
                <p class="font-w-l">consectetur adipisicing elit. Quo voluptate deserunt ducimus cumque id provident.</p>
            </div>
            <div>
                <i class="fas fa-tablets"></i>
                <h5 class="font-f-b">Allergic Disorders</h5>
                <p class="font-w-l">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, optio excepturi ad culpa neque consequuntur.</p>
            </div>
            <div>
                <i class="fas fa-heartbeat"></i>
                <h5>Neoplastic Disorders</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, optio excepturi ad culpa neque consequuntur.</p>
            </div>
        </div>
    </div>
    
    <div class="section-2-side">
        <div class="side-1">
            <hr>
            <h5>Service Details</h5>
            <span><h6>Price</h6>from $340</span>
            <span><h6>Duration</h6>10 Minutes</span>
            <span><h6>Office</h6>#46</span>
            <span><h6>Doctor</h6>Dr. Elizabeth Beard</span>
            <span><h6>Categories</h6>Family </span>
        </div>
        <div class="side-2">
            <hr>
            <h5>Schedule</h5>
            <span><h6>Tuesday</h6>10:00am - 01:00pm</span>
            <span><h6>Friday</h6>07:00am 10:00pm</span>
        </div>
    </div>

</section><!--Section 2 ends-->

<section class="more-services"><!-- More Services Section starts here -->
    <div class="more-services-container">
             <div class="more-services-container-text">
                <h1>More Services</h1>
             </div>
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <a href="Orthopedic">
                            <div class="services-img img-1" style="background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist.jpg);">
                                <hr>
                                <h3>Dentistry</h3>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="Cancer">
                            <div class="services-img img-2" style="background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg);">
                                <hr>
                                <h3>Cancer</h3>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="Cardiology">
                            <div class="services-img img-3" style="background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg);">
                                <hr>
                                <h3>Cardiology</h3>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="Heart">
                            <div class="services-img img-4" style=" background-image: url(https://www.dicardiology.com/sites/default/files/field/image/DoctorHeartFailurePatientfromCorAssist.jpg);">
                                <hr>
                                <h3>Heart disease</h3>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="Liver">
                            <div class="services-img img-5" style="background-image: url(https://www.gannett-cdn.com/presto/2020/03/12/USAT/fb2c3e78-179e-4701-a0bb-6c314c50d19e-HEADER-GettyImages-903115066.jpg?width=660&height=441&fit=crop&format=pjpg&auto=webp);">
                                <hr>
                                <h3>Liver</h3>
                            </div>
                        </a>
                    </div>  
                </div>
            </div>
</section><!-- More Services Section ends here -->

<!-- footer  -->
<%- include("../partials/footer")  %>
<!-- footer -->

</body>
<!-- owl carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/43ab3e4e97.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/43ab3e4e97.js" crossorigin="anonymous"></script>
<script src="../Dom/script.js"></script>
<script src="../Dom/treatment-cl.js"></script>
</html>
